USE [B10THACOIDACC]
GO
/****** Object:  StoredProcedure [dbo].[usp_B30AssetDoc_AllocAssetDepreciation]    Script Date: 05-03-2026 14:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ===============================================================
-- Coder: VuLA
-- Description:	Hạch toán khấu hao tháng TSCĐ
-- ===============================================================
ALTER PROCEDURE [dbo].[usp_B30AssetDoc_AllocAssetDepreciation]
	@_Date DATE	= '20130101',
	@_Year VARCHAR(4) =	'2013', 
	@_AssetAccount VARCHAR(24) = '',
	@_AssetId VARCHAR(512) = '',
	@_CustomerId VARCHAR(512) =	'',
	@_TransCode	VARCHAR(24)	= '',
	@_DocNo	NVARCHAR(32) = '',	
	@_AssetType	TINYINT	= 0,
	@_Round	TINYINT	= 0,
	@_BranchCode VARCHAR(3)	= 'A02',
	@_nUserId INT =	0,
	@_LangId INT = 0,
	@_DetailByAsset	TINYINT = 1,		-- Chi tiết chứng từ hạch toán theo từng tài sản
	@_AutoDisposals	TINYINT	= 0,		-- Tự động hạch toán thanh lý TSCĐ
	@_DisposalsTransCode VARCHAR(24) = '',
	@_AssetTableTmp	VARCHAR(64)	= '',
	@_UsingCustomFieldId1 TINYINT = 0 OUTPUT,
	@_UsingCustomFieldId2 TINYINT = 0 OUTPUT,
	@_UsingCustomFieldId3 TINYINT = 0 OUTPUT,
	@_DataXML XML =	NULL, 
	@_CommandKey VARCHAR(24) = 'AssetDepreciation'
AS
BEGIN
	SET NOCOUNT ON;
	
	-- Tự động lấy thông tin theo AppName khi thực hiện trong chương trình, không theo tham số truyền vào
	SET @_nUserId = dbo.ufn_sys_GetValueFromAppName('UserId', @_nUserId)
	--SET @_BranchCode = dbo.ufn_sys_GetValueFromAppName('BranchCode', @_BranchCode)

	IF CAST(@_DataXML AS NVARCHAR(MAX)) = ''
		RETURN 

	DECLARE @_DataCode_Branch VARCHAR(8)
	SELECT TOP 1 @_DataCode_Branch = DataCode FROM B00Branch WHERE BranchCode = @_BranchCode;
	SET @_DataCode_Branch = ISNULL(@_DataCode_Branch, '0')
	
	DECLARE @_Cmd NVARCHAR(MAX)

	SET @_DisposalsTransCode = IIF(ISNULL(@_DisposalsTransCode, '') = '', @_TransCode, @_DisposalsTransCode)

	SET @_Date = DATEADD(DAY, 1 - DAY(@_Date), @_Date)

	--Fix trường hợp khóa dữ liệu nhưng các máy client không đăng nhập lại vẫn thao tác được trong thời gian khóa dữ liệu
	DECLARE @_ErrorMessage NVARCHAR(128), @_FromValidDate Date, @_ToValidDate DATE, @_StrExec NVARCHAR(MAX) = ''

	SELECT @_FromValidDate = FromValidDate, @_ToValidDate = ToValidDate
	FROM dbo.ufn_sys_GetValidDateByUsers (@_BranchCode, @_Year, @_nUserId)

	-- Kiểm tra có chứng từ nằm ngoài khoảng thời gian hạch toán không
	IF @_Date NOT BETWEEN @_FromValidDate AND @_ToValidDate
	BEGIN
		SET @_ErrorMessage = dbo.ufn_sys_MessageText('DATEERROR', @_LangId);

		RAISERROR(@_ErrorMessage, 16, 1);
		RETURN;
	END

	-- Xử lí ẩn hiện 3 trường mã mở rộng
	EXECUTE usp_B30AssetDoc_UsingCustomFieldId
		@_UsingCustomFieldId1 = @_UsingCustomFieldId1 OUTPUT,
		@_UsingCustomFieldId2 = @_UsingCustomFieldId2 OUTPUT,
		@_UsingCustomFieldId3 = @_UsingCustomFieldId3 OUTPUT,
		@_IsGetOutput = 1
	
	DECLARE @_DocDate1 AS DATE = @_Date, @_DocDate2 AS DATE = EOMONTH(@_Date),
			@_Acc8118 AS VARCHAR(24) = dbo.ufn_vB00Config_GetValue('M_Tk8118', @_BranchCode),
			@_Id INT, @_MonthDepr dbo.MoneyType, @_TotalDeprAllocationRate dbo.QuantityType

	CREATE TABLE #K_SoTmp 
	(
		Code VARCHAR(24), 
		Name NVARCHAR(254), 
		BranchCode CHAR(3),
		EquityId VARCHAR(24), 
		NetBookValue NUMERIC(18, 2),
		MonthDepr NUMERIC(18, 2),
		IncreaseDate DATE, 
		FirstDeprDate DATE, 
		FirstUsedDate DATE,
		StandbyForDisposal DATE,
		IsDeprAdjusted TINYINT,
		Id INT,
		-- Thêm lưu hao mòn trích trong tháng trường hợp 1 TSCĐ trong tháng thuộc 2 năm trích hao mòn (do tăng không phải ngày đầu tháng)
		-- Ví dụ: TS khấu nao từ ngày 15/01/2023 --> nếu tính khấu hao tháng 1/2024 --> thuộc 2 năm tính (Năm thứ 1 - 23: 15/01/23 -> 14/01/23, năm thứ 2 - 24: 15/01/24 -> 14/01/25)
		-- Phải lưu giá trị khấu hao của năm thứ 1 để khi tính năm thứ 2 còn biết giá trị đã tính trong năm, xử lý làm tròn vào tháng cuối của năm)
		MonthDeprTmp NUMERIC(18, 2),		
		DbUsedDate DATE,
		DisposalDate DATE,
		IsError TINYINT,	-- Tình huống tính năm theo tài sản, không phải ngày đầu năm		
		DecreaseDate DATE	-- 27/07/2024 HuyTQ thêm thông tin tài khoản và đối tượng thanh lý
	)

	IF @_DataXML IS NOT NULL
	BEGIN
		DECLARE @_docHandle INT;
		EXEC sp_xml_preparedocument @_docHandle OUTPUT, @_DataXML;

		SELECT *, CAST(NULL AS DATE) AS DbUsedDate, CAST(NULL AS DATE) AS DisposalDate
		INTO #K_SoTmp_1
		FROM OPENXML (@_docHandle, '/NewDataSet/CalcAssetDepreciation', 1) 
		WITH 
		(
			Code VARCHAR(24), 
			Name NVARCHAR(254), 
			BranchCode CHAR(3),
			EquityId VARCHAR(24), 
			NetBookValue MoneyType,
			MonthDepr MoneyType,
			FirstDeprDate DATE, 
			FirstUsedDate DATE,
			StandbyForDisposal DATE,
			IsDeprAdjusted TINYINT,
			Id INT,
			DecreaseDate DATE
		)

		EXECUTE dbo.usp_sys_Append 
			@_TableSource = N'#K_SoTmp_1',
			@_TableDestination = N'#K_SoTmp',
			@_Where_TableSource = ''
		
		DROP TABLE IF EXISTS #K_SoTmp_1

		SELECT *, CAST(NULL AS DATE) AS DbUsedDate, CAST(NULL AS DATE) AS DisposalDate
		INTO #K_SoTmp_2
		FROM OPENXML (@_docHandle, '/NewDataSet/CalcAssetDepreciation1', 1) 
		WITH 
		(
			Code VARCHAR(24),Name NVARCHAR(254),BranchCode CHAR(3),
			EquityId VARCHAR(24),NetBookValue MoneyType,MonthDepr MoneyType,
			FirstDeprDate DATE,FirstUsedDate DATE,StandbyForDisposal DATE,
			IsDeprAdjusted TINYINT,Id INT,MonthDeprTmp MoneyType,
			IsError TINYINT
		)

		IF @_AssetType = 0
		BEGIN 
		EXECUTE dbo.usp_sys_Append 
			@_TableSource = N'#K_SoTmp_2',
			@_TableDestination = N'#K_SoTmp',
			@_Where_TableSource = 'IsError <> 1'
		END 
		ELSE 
		BEGIN
			EXECUTE dbo.usp_sys_Append 
			@_TableSource = N'#K_SoTmp_2',
			@_TableDestination = N'#K_SoTmp' ,
			@_Where_TableSource = 'MonthDepr <> 0 '
		END 
		
		DROP TABLE IF EXISTS #K_SoTmp_2

		SELECT *, CAST(NULL AS DATE) AS DbUsedDate, CAST(NULL AS DATE) AS DisposalDate
		INTO #K_SoTmp_3
		FROM OPENXML (@_docHandle, '/NewDataSet/CalcAssetDepreciation2', 1) 
		WITH 
		(
			Code VARCHAR(24), Name NVARCHAR(254),BranchCode CHAR(3),
			EquityId VARCHAR(24), NetBookValue MoneyType,
			MonthDepr MoneyType,FirstDeprDate DATE, 
			FirstUsedDate DATE,StandbyForDisposal DATE,
			IsDeprAdjusted TINYINT,	Id INT
		)

		EXECUTE dbo.usp_sys_Append 
			@_TableSource = N'#K_SoTmp_3',
			@_TableDestination = N'#K_SoTmp',
			@_Where_TableSource = ''
		
		EXEC sp_xml_removedocument @_docHandle;

		DROP TABLE IF EXISTS #K_SoTmp_3
	END 
	ELSE IF @_AssetTableTmp <> '' AND OBJECT_ID('Tempdb..' + @_AssetTableTmp) IS NOT NULL
		EXECUTE dbo.usp_sys_Append 
			@_TableSource = @_AssetTableTmp,
			@_TableDestination = N'#K_SoTmp',
			@_Where_TableSource = ''

		 

	UPDATE #K_SoTmp SET DbUsedDate = CAST(FirstUsedDate AS DATE) WHERE FirstUsedDate IS NOT NULL

	UPDATE #K_SoTmp SET DisposalDate = CAST(LEFT(StandbyForDisposal, 10) AS DATE) WHERE StandbyForDisposal IS NOT NULL

	--UPDATE #K_SoTmp SET  Depreciation0 = 0 WHERE Depreciation0 IS NULL 
	
	-- Danh sách hệ số phân bổ khấu hao nếu có đã khai báo
	DROP TABLE IF EXISTS #DeprAllocCoeff
	SELECT TOP 0 IDENTITY(INT, 1, 1) AS Id,	
		ts.AssetId, dmts.Code AS AssetCode, ts.EquityId, 
		ts.DeprDebitAccount, ts.DeprCreditAccount, 
		ts.DeptId,ts.EmployeeId,
		IIF(ts.WorkProcessId = '', NULL, ts.WorkProcessId) WorkProcessId, 
		IIF(ts.StageId = '', NULL, ts.StageId) StageId, 
		
		IIF(ts.CostCentreId = '', NULL, ts.CostCentreId) CostCentreId,
		IIF(ts.ProductId IS NULL, NULL, ts.ProductId) ProductId, 
		ts.ExpenseCatgId, 
		IIF(dmts.AllocateByCapacity = 0, ts.DeprAllocationRate, sl.DeprAllocationRate) AS DeprAllocationRate,
		ts.DocDate, CAST(0 AS NUMERIC(18, 2)) AS Depreciation,
		CAST(0 AS NUMERIC(18, 2)) AS Depreciation0,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		ts.CustomFieldId1, ts.CustomFieldId2, ts.CustomFieldId3,
		-- 23/02/2025 VuLA: Sua rieng Thaco
		ts.ProfitCenterId, 
		ts.RouteCode,
		--5/1/26: THAONHP
		ts.TerritoryId
		--
	INTO #DeprAllocCoeff	
	FROM dbo.B30AssetDoc ts WITH (NOLOCK)
		INNER JOIN dbo.B20Asset dmts  WITH (NOLOCK) ON ts.AssetId = dmts.Id AND dmts.IsActive = 1 AND dmts.Type = @_AssetType
		OUTER APPLY 
		(	
			SELECT TOP 0 ctts.AssetId, ctts.EquityId, ctts.DocDate
			FROM dbo.B30AssetDoc ctts  WITH (NOLOCK)
		) ctts
		LEFT JOIN (
			SELECT TOP 0 ctts.AssetId, ctts.EquityId, MAX(ctts.DocDate) AS DocDate, SUM(ISNULL(ctts.DeprAllocationRate, 0)) AS DeprAllocationRate
			FROM dbo.B30AssetDoc ctts  WITH (NOLOCK)
			GROUP BY AssetId, ctts.EquityId
		) sl ON sl.AssetId = ts.AssetId AND sl.EquityId = ts.EquityId
		INNER JOIN #K_SoTmp tmp ON tmp.Id = ts.AssetId AND tmp.EquityId = ts.EquityId AND tmp.MonthDepr <> 0
	
	
	

	SET @_Cmd = N'
	INSERT INTO #DeprAllocCoeff (AssetId, AssetCode, EquityId, 
		DeprDebitAccount, DeprCreditAccount,DeptId,EmployeeId,
		WorkProcessId,StageId,CostCentreId,ProductId,ExpenseCatgId, 
		DeprAllocationRate,DocDate, Depreciation,Depreciation0,
		CustomFieldId1, CustomFieldId2, CustomFieldId3,
		ProfitCenterId,  RouteCode,TerritoryId)
	SELECT 
		ts.AssetId, dmts.Code AS AssetCode, ts.EquityId, 
		ts.DeprDebitAccount, ts.DeprCreditAccount, 
		ts.DeptId,ts.EmployeeId,
		IIF(ts.WorkProcessId = '''', NULL, ts.WorkProcessId) WorkProcessId, 
		IIF(ts.StageId = '''', NULL, ts.StageId) StageId, 
		IIF(ts.CostCentreId = '''', NULL, ts.CostCentreId) CostCentreId,
		IIF(ts.ProductId IS NULL, NULL, ts.ProductId) ProductId, 
		ts.ExpenseCatgId, 
		IIF(dmts.AllocateByCapacity = 0, ts.DeprAllocationRate, sl.DeprAllocationRate) AS DeprAllocationRate,
		ts.DocDate, CAST(0 AS NUMERIC(18, 2)) AS Depreciation,
		CAST(0 AS NUMERIC(18, 2)) AS Depreciation0,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		ts.CustomFieldId1, ts.CustomFieldId2, ts.CustomFieldId3,
		-- 23/02/2025 VuLA: Sua rieng Thaco
		ts.ProfitCenterId, ts.RouteCode, ts.TerritoryId			
	FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ts
		INNER JOIN dbo.B2' + @_DataCode_Branch + N'Asset dmts ON ts.AssetId = dmts.Id AND dmts.IsActive = 1 AND dmts.Type = @_AssetType
		OUTER APPLY 
		(	
			SELECT TOP 1 ctts.AssetId, ctts.EquityId, ctts.DocDate
			FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ctts
			WHERE ISNULL(ts.AssetId, 0) = ISNULL(ctts.AssetId, 0) AND ts.EquityId = ctts.EquityId AND
				ctts.DocDate <= @_DocDate2 AND ctts.DeprAllocationRate <> 0 AND 
				ctts.AssetTransType <> ''KHAUHAO'' AND ctts.IsActive = 1
			ORDER BY DocDate DESC	
		) ctts
		LEFT JOIN (
			SELECT ctts.AssetId, ctts.EquityId, MAX(ctts.DocDate) AS DocDate, SUM(ISNULL(ctts.DeprAllocationRate, 0)) AS DeprAllocationRate
			FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ctts
			WHERE ctts.DocDate BETWEEN @_DocDate1 AND @_DocDate2 AND ctts.DeprAllocationRate <> 0 AND 
				ctts.AssetTransType <> ''KHAUHAO'' AND ctts.IsActive = 1
			GROUP BY AssetId, ctts.EquityId
		) sl ON sl.AssetId = ts.AssetId AND sl.EquityId = ts.EquityId
		INNER JOIN #K_SoTmp tmp ON tmp.Id = ts.AssetId AND tmp.EquityId = ts.EquityId AND tmp.MonthDepr <> 0
	WHERE ts.DocDate = ctts.DocDate	-- Các hệ số phải có ngày giống nhau trong tháng, nếu không thì luôn áp cho hệ số có ngày sau
		AND ts.DeprAllocationRate <> 0 AND ts.AssetTransType <> ''KHAUHAO''
		AND (ts.AssetId = @_AssetId OR ISNULL(@_AssetId, '''') = '''') 
		AND ts.IsActive = 1 AND dmts.BranchCode = @_BranchCode'
	
	EXECUTE sp_executesql @_cmd,
		N'@_DocDate1 DATE, @_DocDate2 DATE, @_AssetId VARCHAR(24), @_AssetType VARCHAR(8), @_BranchCode VARCHAR(8)',
		@_DocDate1,@_DocDate2,@_AssetId,@_AssetType,@_BranchCode

	-- Xử lý hạch toán vào 8118 trong trường hợp thời gian bắt đầu sử dụng > Thời gian bắt đầu khấu hao
	/*
		Trường hợp vừa hạch toán 1 phần vào 8118 và có khai báo hệ số phân bổ khấu hao, chương trình sẽ giữ nguyên phần 8118 và chỉ phân bổ phần còn lại. Ví dụ:
		- Hạch toán do bắt đầu sử dụng vào giữa tháng, hệ số như sau:
		 + 8118: 2
		 + 6xx0: 8
		- Khai báo hệ số phân bổ khấu hao
		 + 6xx1: 1
		 + 6xx2: 1
		- Khi đó sẽ chỉ xử lý phân bổ hệ số khấu hao cho 8 phần của 6xx0, tổng kết lại sẽ được phân bổ như sau:
		 + 8118: 2
		 + 6xx1: 4
		 + 6xx2: 4
	*/

 

	  
	
	IF @_AssetType = 0	AND EXISTS (SELECT TOP (1) 1 FROM #K_SoTmp 
									WHERE DbUsedDate > @_DocDate1 AND DbUsedDate <= @_DocDate2 
											AND DbUsedDate <> FirstDeprDate) -- Chỉ xử lý cho tài sản
		BEGIN
			ALTER TABLE #DeprAllocCoeff ADD IsAdded TINYINT DEFAULT 0, IsOtherCost TINYINT DEFAULT 0, IsCalculate TINYINT

			SET @_Cmd = N'
			UPDATE #K_SoTmp SET IncreaseDate = ctts.DocDate
			FROM #K_SoTmp ts
				OUTER APPLY (	
					SELECT TOP 1 ctts.AssetId, ctts.EquityId, ctts.DocDate
					FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ctts
					WHERE ts.Id = ctts.AssetId AND ts.EquityId = ctts.EquityId AND
						ctts.DocDate <= @_DocDate2 AND ctts.DeprAllocationRate = 0 AND 
						ctts.AssetTransType <> ''KHAUHAO'' AND ctts.IsActive = 1 AND ctts.DocGroup = ''1''
					ORDER BY DocDate ASC	
				)	ctts'
			EXECUTE sp_executesql @_cmd,N'@_DocDate2 DATE',	@_DocDate2

			UPDATE #K_SoTmp SET IncreaseDate = IIF(IncreaseDate BETWEEN @_DocDate1 AND @_DocDate2, IncreaseDate, @_DocDate1)

			-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
			SET @_cmd = N'
			;WITH Cte
			AS
			(
				SELECT tb.Id AS AssetId, tb.Code AS AssetCode, tb.EquityId, DATEDIFF(DAY, IncreaseDate, tb.DbUsedDate) AS Coeff, CAST(1 AS TINYINT) AS IsOtherCost
				FROM #K_SoTmp tb
				WHERE tb.DbUsedDate > @_DocDate1 AND tb.DbUsedDate <= @_DocDate2
					AND tb.DbUsedDate <> tb.IncreaseDate
				UNION ALL
				SELECT tb.Id AS AssetId, tb.Code AS AssetCode, tb.EquityId, DATEDIFF(DAY, tb.DbUsedDate, 
					IIF(tb.DisposalDate BETWEEN @_DocDate1 AND @_DocDate2, tb.DisposalDate, @_DocDate2)) + 1 AS Coeff, CAST(0 AS TINYINT) AS IsOtherCost
				FROM #K_SoTmp tb
				WHERE tb.DbUsedDate > @_DocDate1 AND tb.DbUsedDate <= @_DocDate2
					AND tb.DbUsedDate <> tb.IncreaseDate
			)
			-- 23/02/2025 VuLA: Sua rieng Thaco
			INSERT INTO #DeprAllocCoeff(AssetId, AssetCode, EquityId, DeprDebitAccount, DeprCreditAccount, DeptId, EmployeeId, 
										WorkProcessId, StageId,ExpenseCatgId, CostCentreId, ProductId, DeprAllocationRate, DocDate, 
										Depreciation, IsAdded, IsOtherCost, CustomFieldId1, CustomFieldId2, CustomFieldId3, 
										ProfitCenterId,  RouteCode,TerritoryId)
			SELECT Cte.AssetId, Cte.AssetCode, Cte.EquityId, IIF(Cte.IsOtherCost = 1, @_Acc8118, ctts.DeprDebitAccount) AS DeprDebitAccount, 
				ctts.DeprCreditAccount, ctts.DeptId, ctts.EmployeeId,ctts.WorkProcessId,ctts.StageId, ctts.ExpenseCatgId, ctts.CostCentreId, 
				ctts.ProductId, Cte.Coeff AS DeprAllocationRate,@_DocDate1 AS DocDate , 0 AS Depreciation, 1 AS IsAdded , Cte.IsOtherCost, 
				ctts.CustomFieldId1, ctts.CustomFieldId2, ctts.CustomFieldId3,	ctts.ProfitCenterId,  ctts.RouteCode,TerritoryId
			FROM Cte
				OUTER APPLY 
				(	
					SELECT TOP 1 ctts.AssetId, ctts.EquityId, ctts.DeprDebitAccount, ctts.DeprCreditAccount, ctts.DeptId, 
						ctts.EmployeeId, ctts.WorkProcessId, ctts.StageId, ctts.CostCentreId, ctts.ProductId, ctts.ExpenseCatgId, 
						ctts.CustomFieldId1, ctts.CustomFieldId2, ctts.CustomFieldId3, ctts.ProfitCenterId, ctts.RouteCode, ctts.TerritoryId
					FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ctts
						INNER JOIN dbo.B20AssetTrans tgts ON ctts.AssetTransId = tgts.Id
					WHERE ISNULL(Cte.AssetId, 0) = ISNULL(ctts.AssetId, 0) AND Cte.EquityId = ctts.EquityId AND ctts.DocDate <= @_DocDate2 
						AND (ctts.DocGroup = ''1'' OR (ctts.DocGroup = ''3'' AND tgts.IsTransferDept = 1))
						AND (ctts.AssetTransType = '''' OR ctts.AssetTransType = ''ALL'' OR ctts.AssetTransType = ''GIATRI'')
						AND ctts.DeprAllocationRate = 0 AND ctts.IsActive = 1
					ORDER BY DocDate DESC
				) ctts'	

			EXECUTE sp_executesql @_cmd,
				N'@_DocDate1 DATE, @_DocDate2 DATE, @_Acc8118 VARCHAR(24)',
				@_DocDate1,@_DocDate2,@_Acc8118

			DECLARE @_AssetId0 CodeType, @_Id0 INT, @_Coeff ExchangeRateType, @_TotalCoeff ExchangeRateType

		 

			WHILE EXISTS (SELECT * FROM #DeprAllocCoeff WHERE ISNULL(IsCalculate, 0) = 0 AND IsAdded = 1 AND IsOtherCost = 0)
			BEGIN
				SELECT TOP 1 @_Id0 = Id, @_AssetId0 = AssetId, @_Coeff = DeprAllocationRate
				FROM #DeprAllocCoeff
				WHERE ISNULL(IsCalculate, 0) = 0 AND IsAdded = 1 AND IsOtherCost = 0

				IF EXISTS (SELECT * FROM #DeprAllocCoeff WHERE AssetId = @_AssetId0 AND IsAdded IS NULL)
				BEGIN
					SELECT @_TotalCoeff = SUM(DeprAllocationRate) 
					FROM #DeprAllocCoeff
					WHERE AssetId = @_AssetId0 AND IsAdded IS NULL

					UPDATE #DeprAllocCoeff SET DeprAllocationRate = IIF(ISNULL(@_TotalCoeff, 0) = 0, 0, DeprAllocationRate * @_Coeff / @_TotalCoeff)
					WHERE AssetId = @_AssetId0 AND IsAdded IS NULL
						
					DELETE #DeprAllocCoeff WHERE Id = @_Id0
				END
				ELSE
					UPDATE #DeprAllocCoeff SET IsCalculate = 1 WHERE Id = @_Id0
			END
		END
	
	-- Xử lý khấu hao theo hệ số:
	DECLARE @_AllocationTable TABLE (Id INT IDENTITY(1, 1), AssetId INT, EquityId INT, 
			MonthDepr MoneyType, TotalDeprAllocationRate dbo.QuantityType, MonthDeprTmp MoneyType)

	INSERT  @_AllocationTable (AssetId, EquityId, MonthDepr, TotalDeprAllocationRate, MonthDeprTmp)	
	SELECT hs.AssetId, hs.EquityId, 
		MAX(tmp.MonthDepr) AS MonthDepr, 
		SUM(ISNULL(hs.DeprAllocationRate, 0)),
		ISNULL(MAX(tmp.MonthDeprTmp),0) AS MonthDeprTmp 
	FROM #DeprAllocCoeff hs INNER JOIN #K_SoTmp tmp 
		ON hs.AssetId = tmp.Id AND hs.EquityId = tmp.EquityId
	GROUP BY hs.AssetId, hs.EquityId
 

	DECLARE @_AssetIdTmp INT, @_EquityIdTmp INT, @_Diff NUMERIC(18, 2), @_IdMax INT, @_MonthDeprTmp dbo.MoneyType, @_Diff0 dbo.MoneyType;

	WHILE EXISTS(SELECT * FROM @_AllocationTable)
	BEGIN
		SELECT TOP 1 @_Id = Id, @_AssetIdTmp = AssetId, @_EquityIdTmp = EquityId,
			@_MonthDepr = MonthDepr, @_TotalDeprAllocationRate = TotalDeprAllocationRate,
			@_MonthDeprTmp = ISNULL(MonthDeprTmp, 0)	
		FROM @_AllocationTable
	
		-- Chênh lệch tính hệ số 	
		UPDATE #DeprAllocCoeff 
		SET Depreciation = ROUND(IIF(@_TotalDeprAllocationRate <> 0, @_MonthDepr * IIF(ISNULL(@_TotalDeprAllocationRate, 0) = 0, 0, DeprAllocationRate/@_TotalDeprAllocationRate), 0), @_Round),
			Depreciation0 =  IIF(@_MonthDeprTmp = 0 OR @_TotalDeprAllocationRate = 0, 0, ROUND(@_MonthDeprTmp * IIF(ISNULL(@_TotalDeprAllocationRate, 0) = 0, 0, DeprAllocationRate/@_TotalDeprAllocationRate), @_Round))
		WHERE AssetId = @_AssetIdTmp AND EquityId = @_EquityIdTmp
	
		SET @_Diff = @_MonthDepr - (SELECT SUM(Depreciation) FROM #DeprAllocCoeff WHERE AssetId = @_AssetIdTmp AND EquityId = @_EquityIdTmp) 
		SET @_Diff0 = 0
		IF @_MonthDeprTmp <> 0
			SET @_Diff0 = @_MonthDeprTmp - (SELECT SUM(Depreciation0) FROM #DeprAllocCoeff WHERE AssetId = @_AssetIdTmp AND EquityId = @_EquityIdTmp) 

		IF @_Diff <> 0
		BEGIN
			SELECT TOP 1 @_IdMax = (SELECT TOP 1 Id FROM #DeprAllocCoeff 
									WHERE AssetId = @_AssetIdTmp AND EquityId = @_EquityIdTmp 
									ORDER BY Depreciation DESC)

			UPDATE #DeprAllocCoeff 
			SET Depreciation = Depreciation + @_Diff
			WHERE Id = @_IdMax
		END

		IF @_Diff0 <> 0
		BEGIN
			SELECT TOP 1 @_IdMax = (SELECT TOP 1 Id FROM #DeprAllocCoeff 
									WHERE AssetId = @_AssetIdTmp AND EquityId = @_EquityIdTmp 
									ORDER BY Depreciation DESC)
			
			UPDATE #DeprAllocCoeff 
			SET Depreciation0 = ISNULL(Depreciation0,0)  + ISNULL(@_Diff,0)
			WHERE Id = @_IdMax
		END
		
		DELETE FROM @_AllocationTable WHERE Id = @_Id
	END;
	

	

	-- Thêm thông tin hạch toán với trường hợp Điều chuyển bộ phận
	DROP TABLE IF EXISTS #AssetRegister;
	SELECT TOP 0
		tmp.Id, tmp.BranchCode, tmp.Name, tmp.MonthDepr, tmp.IsDeprAdjusted,
		tmp.FirstUsedDate, tmp.StandbyForDisposal, tmp.NetBookValue,
		ts.AssetId, ts.EquityId, ts.DeprDebitAccount, ts.DeprCreditAccount, 
		ts.DeptId, ts.EmployeeId, ts.WorkProcessId,ts.StageId, ts.CostCentreId, ts.ProductId, 
		ts.ExpenseCatgId, ts.DeprAllocationRate, ts.DocDate, dmts.FirstDeprDate,
		tmp.MonthDeprTmp,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		ts.CustomFieldId1, ts.CustomFieldId2, ts.CustomFieldId3, tmp.DecreaseDate, ts.CustomerId,
		ts.ProfitCenterId,  ts.RouteCode,ts.TerritoryId
	INTO #AssetRegister
	FROM dbo.B30AssetDoc ts WITH (NOLOCK)
		INNER JOIN dbo.B20Asset dmts WITH (NOLOCK) ON ts.AssetId = dmts.Id AND dmts.IsActive = 1
		LEFT OUTER JOIN 
		(
			SELECT TOP 0 ctts.AssetId, ctts.EquityId, ctts.DocDate, ctts.Id,
				ROW_NUMBER() OVER (PARTITION BY ctts.AssetId, ctts.EquityId ORDER BY ctts.DocDate DESC) AS _rId
			FROM dbo.B30AssetDoc ctts WITH (NOLOCK)
				INNER JOIN dbo.B20AssetTrans tgts ON ctts.AssetTransId = tgts.Id
		) ctts ON ctts._rId = 1 AND ISNULL(ts.AssetId, 0) = ISNULL(ctts.AssetId, 0) AND ts.EquityId = ctts.EquityId
		INNER JOIN #K_SoTmp AS tmp ON tmp.Id = ts.AssetId AND tmp.EquityId = ts.EquityId AND tmp.MonthDepr <> 0
	
	SET @_Cmd = N'
	INSERT #AssetRegister (Id, BranchCode, Name, MonthDepr, IsDeprAdjusted,
						   FirstUsedDate, StandbyForDisposal, NetBookValue,
						   AssetId, EquityId, DeprDebitAccount, DeprCreditAccount,
						   DeptId, EmployeeId, WorkProcessId, StageId, CostCentreId, ProductId,
						   ExpenseCatgId, DeprAllocationRate, DocDate, FirstDeprDate,
						   MonthDeprTmp,CustomFieldId1, CustomFieldId2, CustomFieldId3, 
						   DecreaseDate, CustomerId,ProfitCenterId, RouteCode,TerritoryId)

	SELECT	tmp.Id, tmp.BranchCode, tmp.Name, tmp.MonthDepr, tmp.IsDeprAdjusted,
		tmp.FirstUsedDate, tmp.StandbyForDisposal, tmp.NetBookValue,
		ts.AssetId, ts.EquityId, ts.DeprDebitAccount, ts.DeprCreditAccount, 
		ts.DeptId, ts.EmployeeId, ts.WorkProcessId,ts.StageId, ts.CostCentreId, ts.ProductId, 
		ts.ExpenseCatgId, ts.DeprAllocationRate, ts.DocDate, dmts.FirstDeprDate,
		tmp.MonthDeprTmp,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		ts.CustomFieldId1, ts.CustomFieldId2, ts.CustomFieldId3, tmp.DecreaseDate, ts.CustomerId,
		ts.ProfitCenterId,  ts.RouteCode,ts.TerritoryId
	FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ts
		INNER JOIN dbo.B2' + @_DataCode_Branch + N'Asset dmts ON ts.AssetId = dmts.Id AND dmts.IsActive = 1
		--OUTER APPLY 
		--(	
		--	SELECT TOP 1 ctts.AssetId, ctts.EquityId, ctts.DocDate, ctts.Id
		--	FROM dbo.B30AssetDoc ctts
		--		INNER JOIN dbo.B20AssetTrans tgts ON ctts.AssetTransId = tgts.Id
		--	WHERE ISNULL(ts.AssetId, 0) = ISNULL(ctts.AssetId, 0) AND ts.EquityId = ctts.EquityId AND ctts.DocDate <= @_DocDate2 AND 
		--		(ctts.DocGroup = ''1'' OR (ctts.DocGroup = ''3'' AND tgts.IsTransferDept = 1)) AND	
		--		(ctts.AssetTransType = '''' OR ctts.AssetTransType = ''ALL'' OR ctts.AssetTransType = ''GIATRI'') AND	
		--		ctts.DeprAllocationRate = 0 AND ctts.IsActive = 1
		--	ORDER BY DocDate DESC	
		--) ctts
		LEFT OUTER JOIN 
		(
			SELECT ctts.AssetId, ctts.EquityId, ctts.DocDate, ctts.Id,
				ROW_NUMBER() OVER (PARTITION BY ctts.AssetId, ctts.EquityId ORDER BY ctts.DocDate DESC) AS _rId
			FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ctts
				INNER JOIN dbo.B20AssetTrans tgts ON ctts.AssetTransId = tgts.Id
			WHERE ctts.DocDate <= @_DocDate2 AND 
				(ctts.DocGroup = ''1'' OR (ctts.DocGroup = ''3'' AND tgts.IsTransferDept = 1)) AND	
				(ctts.AssetTransType = '''' OR ctts.AssetTransType = ''ALL'' OR ctts.AssetTransType = ''GIATRI'') AND	
				ctts.DeprAllocationRate = 0 AND ctts.IsActive = 1
		) ctts ON ctts._rId = 1 AND ISNULL(ts.AssetId, 0) = ISNULL(ctts.AssetId, 0) AND ts.EquityId = ctts.EquityId
		INNER JOIN #K_SoTmp AS tmp ON tmp.Id = ts.AssetId AND tmp.EquityId = ts.EquityId AND tmp.MonthDepr <> 0
	WHERE ts.Id = ctts.Id AND 
		(ts.AssetId = @_AssetId OR ISNULL(@_AssetId, '''') = '''') 
		AND ts.IsActive = 1 AND	dmts.BranchCode = @_BranchCode' 

	EXECUTE sp_executesql @_cmd,
		N'@_DocDate2 DATE,@_AssetId VARCHAR(24), @_BranchCode VARCHAR(24)',
		@_DocDate2,@_AssetId,@_BranchCode
	
	
	-- Cập nhật các biến động cuối cùng TS:
	EXECUTE dbo.usp_B30AssetDoc_AssetInfo_UpdateData
		@_DocDate2 = @_DocDate2,
		@_CtTmp	 = '#AssetRegister',
		@_BranchCode = @_BranchCode,
		@_nUserId =	@_nUserId,
		@_LangId = @_LangId,
		@_Debug	= 0
	
	


	DROP TABLE IF EXISTS #DeprDetail;	
	SELECT R.Id, R.BranchCode, R.AssetId, R.Name, R.EquityId,
		ISNULL(A.DeprDebitAccount, R.DeprDebitAccount) AS DeprDebitAccount,
		ISNULL(A.DeprCreditAccount, R.DeprCreditAccount) AS DeprCreditAccount,
		ISNULL(A.DeptId, R.DeptId) AS DeptId,
		ISNULL(A.EmployeeId, R.EmployeeId) AS EmployeeId,
		ISNULL(A.WorkProcessId, R.WorkProcessId) AS WorkProcessId,
		ISNULL(A.StageId, R.StageId) AS StageId,
		ISNULL(A.CostCentreId, R.CostCentreId) AS CostCentreId,
		ISNULL(A.ProductId, R.ProductId) AS ProductId,
		ISNULL(A.ExpenseCatgId, R.ExpenseCatgId) AS ExpenseCatgId,
		ISNULL(A.DeprAllocationRate, 1) AS DeprAllocationRate,
		ISNULL(A.Depreciation, R.MonthDepr) AS Depreciation,
		R.IsDeprAdjusted, R.FirstUsedDate,
		R.FirstDeprDate, ISNULL(A.DocDate, R.DocDate) AS DocDate,
		R.StandbyForDisposal, R.NetBookValue,
		ISNULL(B.Code, '') AS CostCentreCode, ISNULL(B.Name, '') AS CostCentreName,
		ISNULL(A.Depreciation0, R.MonthDeprTmp) AS Depreciation0,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		ISNULL(A.CustomFieldId1, R.CustomFieldId1) AS CustomFieldId1,
		ISNULL(A.CustomFieldId2, R.CustomFieldId2) AS CustomFieldId2,
		ISNULL(A.CustomFieldId3, R.CustomFieldId3) AS CustomFieldId3,
		R.DecreaseDate, R.CustomerId,	-- 27/07/2024 HuyTQ thêm thông tin tài khoản và đối tượng thanh lý
		ISNULL(A.ProfitCenterId, R.ProfitCenterId) AS ProfitCenterId,		
		ISNULL(A.RouteCode, R.RouteCode) AS RouteCode,
		ISNULL(A.TerritoryId, R.TerritoryId) AS TerritoryId
	INTO #DeprDetail
	FROM #AssetRegister R
		LEFT  JOIN #DeprAllocCoeff A ON ISNULL(R.AssetId, 0) = ISNULL(A.AssetId, 0) AND R.EquityId = A.EquityId
		LEFT  JOIN dbo.B20CostCentre B ON ISNULL(A.CostCentreId, R.CostCentreId) = B.Id

	DROP TABLE #AssetRegister
	
	-- Xử lý riêng phần ngày chờ thanh lý trong kỳ xử lý theo ngày
	DROP TABLE IF EXISTS #DeprDetail_Stand;
	SELECT *,
		ROUND(Depreciation * CAST((DATEDIFF(day, StandbyForDisposal, @_DocDate2) + 1) AS FLOAT)/ DAY(@_DocDate2), @_Round) AS Depreciation_StandbyForDisposal
	INTO #DeprDetail_Stand
	FROM #DeprDetail
	WHERE StandbyForDisposal <> '' AND StandbyForDisposal BETWEEN @_DocDate1 AND @_DocDate2
		AND FirstUsedDate < @_DocDate1
	
	DELETE FROM #DeprDetail 
		FROM #DeprDetail tb
			INNER JOIN (SELECT AssetId FROM #DeprDetail_Stand GROUP BY AssetId) tb1 ON ISNULL(tb.AssetId, 0) = ISNULL(tb1.AssetId, 0)
	
	INSERT INTO #DeprDetail
	(
		Id, BranchCode, AssetId, Name, EquityId, DeprDebitAccount, DeprCreditAccount,
		DeptId, EmployeeId, WorkProcessId,StageId, CostCentreId, ProductId, ExpenseCatgId,
		DeprAllocationRate, Depreciation, IsDeprAdjusted, FirstUsedDate,
		FirstDeprDate, DocDate, StandbyForDisposal, NetBookValue,
		CostCentreCode, CostCentreName, Depreciation0,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		CustomFieldId1, CustomFieldId2, CustomFieldId3,
		ProfitCenterId,  RouteCode, TerritoryId
	)
	SELECT Id, BranchCode, AssetId, Name, EquityId, @_Acc8118 AS DeprDebitAccount, DeprCreditAccount,
		DeptId, EmployeeId, WorkProcessId,StageId, CostCentreId, ProductId, ExpenseCatgId,
		DeprAllocationRate, Depreciation_StandbyForDisposal AS Depreciation, IsDeprAdjusted, FirstUsedDate,
		FirstDeprDate, DocDate, StandbyForDisposal, NetBookValue,
		CostCentreCode, CostCentreName, 0 AS Depreciation0,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		CustomFieldId1, CustomFieldId2, CustomFieldId3,
		ProfitCenterId,  RouteCode, TerritoryId
	FROM #DeprDetail_Stand
	UNION ALL
	SELECT Id, BranchCode, AssetId, Name, EquityId, DeprDebitAccount, DeprCreditAccount,
		DeptId, EmployeeId, WorkProcessId, StageId, CostCentreId, ProductId, ExpenseCatgId,
		DeprAllocationRate, (Depreciation - Depreciation_StandbyForDisposal) AS Depreciation, IsDeprAdjusted, FirstUsedDate,
		FirstDeprDate, DocDate, StandbyForDisposal, NetBookValue,
		CostCentreCode, CostCentreName, 0 AS Depreciation0,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		CustomFieldId1, CustomFieldId2, CustomFieldId3,
		ProfitCenterId, RouteCode, TerritoryId
	FROM #DeprDetail_Stand
	WHERE  (Depreciation - Depreciation_StandbyForDisposal) <> 0
	
	UPDATE #DeprDetail 
	SET DeprDebitAccount = CASE 
			WHEN ((ISNULL(FirstUsedDate, '') = '' OR CAST(LEFT(ISNULL(FirstUsedDate, ''), 10) AS DATE) > @_DocDate2) OR 
				(StandbyForDisposal <> '' AND CAST(LEFT(ISNULL(StandbyForDisposal, ''), 10) AS DATE) < @_DocDate1)) THEN @_Acc8118 
			ELSE DeprDebitAccount END,
		DocDate = @_DocDate2
	
	-- 27/07/2024 HuyTQ thêm thông tin tài khoản và đối tượng thanh lý

	IF @_AssetType IN (1,2)
	BEGIN
		SET @_Cmd = N'
		UPDATE #DeprDetail
		SET DeprDebitAccount = ISNULL(ad.DisposalAccount, dd.DeprDebitAccount),
			CustomerId = ad.CustomerId
		FROM #DeprDetail dd
			--OUTER APPLY 
			--(
			--	SELECT TOP 1 DisposalAccount, CustomerId
			--	FROM dbo.B30AssetDoc ad 
			--	WHERE ad.AssetId = dd.AssetId AND ad.AssetTransType=''GIAMTAISAN'' AND ad.DocGroup = ''2'' AND ad.IsActive = 1 
			--	ORDER BY DocDate 
			--) AS ad
			LEFT OUTER JOIN 
			(
				SELECT ad.AssetId, DisposalAccount, CustomerId, ROW_NUMBER() OVER (PARTITION BY ad.AssetId ORDER BY DocDate) AS _rId
				FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc ad 
				WHERE ad.AssetTransType=''GIAMTAISAN'' AND ad.DocGroup = ''2'' AND ad.IsActive = 1 
			) AS ad ON ad.AssetId = dd.AssetId AND ad._rId = 1
		WHERE dd.DecreaseDate BETWEEN @_DocDate1 AND @_DocDate2 AND dd.BranchCode = @_BranchCode
			AND (dd.AssetId = @_AssetId OR ISNULL(@_AssetId, '''') = '''')'   
	
		EXECUTE sp_executesql @_cmd,
			N'@_DocDate1 DATE, @_DocDate2 DATE, @_AssetId VARCHAR(24), @_BranchCode VARCHAR(24)',
			@_DocDate1,	
			@_DocDate2,
			@_AssetId,
			@_BranchCode
	END
	-- Nếu tài sản thanh lý trong tháng thì lấy theo ngày thanh lý
	-- 03/05/2019: Thăng lấy đúng theo ngày thanh lý (Không trừ đi 1 ngày). Với tình huống thanh lý đầu tháng thì bị nhảy sang tháng trước
	DECLARE @_Msg_Tong NVARCHAR(128) = dbo.ufn_sys_MessageText(N'Tong', @_LangId)
	
	SET @_Cmd = N'
	UPDATE #DeprDetail 
	SET DocDate = tly.DocDate	
	FROM #DeprDetail ct 
		INNER JOIN 
			(
				SELECT AssetId, DocDate 
				FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc 
				WHERE IsActive = 1 AND BranchCode = @_BranchCode 
					AND DocDate BETWEEN @_DocDate1 AND @_DocDate2 
					AND AssetTransType = ''GIAMTAISAN''
			) tly ON ISNULL(ct.AssetId, 0) = ISNULL(tly.AssetId, 0)'
	
	EXECUTE sp_executesql @_cmd,
			N'@_DocDate1 DATE, @_DocDate2 DATE, @_BranchCode VARCHAR(24)',
			@_DocDate1,	@_DocDate2,@_BranchCode
			
	

	SET @_cmd = N'
	SELECT tb.*, @_DocDate2 AS DeprDate,
		CASE WHEN @_DetailByAsset = 1 THEN RTRIM(tb.AssetId) + N'' - '' + RTRIM(tb.Name)
		ELSE @_Msg_Tong END AS AssetDetail,
		Prd.Name AS ProductCostInfo, 
		e.Code AS EquityCode, 
		dept.Code AS DeptCode, 
		km.Code AS ExpenseCatgCode,
		emp.Code AS EmployeeCode, dmts.Code AS AssetCode, w.Code AS WorkProcessCode,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		cf1.Code AS CustomFieldCode1,
		cf2.Code AS CustomFieldCode2,
		cf3.Code AS CustomFieldCode3,
		pc.Name AS ProfitCenterName, zs.Name AS StageName,
		Territory.Code AS TerritoryCode, Territory.Name AS TerritoryName
	FROM #DeprDetail tb
		LEFT JOIN dbo.B20Product prd ON tb.ProductId = prd.Id 
		LEFT JOIN dbo.B20Equity e ON e.Id = tb.EquityId
		LEFT JOIN dbo.B20Dept dept ON dept.Id = tb.DeptId
		LEFT JOIN dbo.B20ExpenseCatg km ON km.Id = tb.ExpenseCatgId
		LEFT JOIN dbo.B20Employee emp ON emp.Id = tb.EmployeeId
		LEFT JOIN dbo.B2' + @_DataCode_Branch + N'Asset dmts ON tb.Id = dmts.Id
		LEFT JOIN dbo.B20WorkProcess w ON w.Id = tb.WorkProcessId
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		LEFT JOIN dbo.B20CustomField1 cf1 ON cf1.Id = tb.CustomFieldId1
		LEFT JOIN dbo.B20CustomField2 cf2 ON cf2.Id = tb.CustomFieldId2
		LEFT JOIN dbo.B20CustomField3 cf3 ON cf3.Id = tb.CustomFieldId3	
		LEFT JOIN dbo.B20ProfitCenter pc ON tb.ProfitCenterId = pc.Id 
		LEFT JOIN dbo.B20ZStage zs ON tb.StageId = zs.Id
		LEFT JOIN dbo.B20Territory AS Territory ON tb.TerritoryId = Territory.Id
	ORDER BY AssetCode'

	EXECUTE sp_executesql @_cmd,
		N'@_DocDate2 DATE, @_DetailByAsset TINYINT, @_Msg_Tong NVARCHAR(128)',	
		@_DocDate2,@_DetailByAsset,@_Msg_Tong


	BEGIN

	DECLARE @_nl CHAR(1)=CHAR(10)
    
	DROP TABLE IF EXISTS #NhapTp
    --CREATE TABLE #NhapTp(ProductId INT,StageId INT,Quantity NUMERIC(18,5), AssetId INT)

	SELECT TOP 0 BranchCode, @_DocDate2 AS DocDate, AssetId, ProductId, StageId, CAST('' AS VARCHAR (24)) AS ProductCode, Quantity, CAST(-1 AS INT) AS CreatedBy,  CAST(-1 AS INT) as ModifiedBy
	INTO   #NhapTp
	FROM   B30AssetProductActual
 
    SET @_cmd=' ;WITH Cte '+@_nl+
              ' AS '+@_nl+
              ' ('+@_nl+
              '     SELECT Stt,BranchCode,DocCode,DocDate,ProductId,StageId,ItemId,Quantity '+@_nl+
              '     FROM vB3'+@_DataCode_Branch+'StockLedger a '+@_nl+
              '     WHERE BranchCode='''+@_BranchCode +''' AND DocCode=''TP'' AND CreditAccount LIKE ''154%'' '+@_nl+
              '             AND DocDate BETWEEN '''+ FORMAT(@_DocDate1,'yyyyMMdd') +''' AND '''+FORMAT(@_DocDate2,'yyyyMMdd') +''''   +@_nl+
              ' ) '+@_nl+
              ' INSERT #NhapTp(BranchCode,StageId,ProductId,Quantity) '+@_nl+
              ' SELECT '''+@_BranchCode+''', a.StageId,Item.ProductId,SUM(Quantity) AS Quantity'+@_nl+
              ' FROM Cte a JOIN vB20Item Item ON a.ItemId=Item.Id '+@_nl+
              ' WHERE EXISTS (SELECT * FROM #DeprDetail D WHERE  
			    d.StageId=a.StageId
			  )'+@_nl+
              ' GROUP BY a.StageId,Item.ProductId '      
    EXEC(@_cmd)

	DECLARE @_TableName_Join VARCHAR(264) = '' 
    SELECT @_TableName_Join = 'B3' + @_DataCode_Branch  + 'AssetProduct'
 
	--lay Id tai san
    SELECT @_cmd
        = N'UPDATE assproac
	SET AssetId = asspro.AssetId
	from  #NhapTp assproac INNER JOIN ' + @_TableName_Join
          + N' asspro  ON assproac.ProductId = asspro.ProductId '
          + N' AND assproac.StageId = asspro.StageId '
    EXEC (@_cmd)

	DELETE #NhapTp WHERE AssetId NOT IN (SELECT Id FROM #K_SoTmp AS kst)

	--SELECT * FROM #DeprDetail AS dd 
 
	ALTER TABLE #NhapTp ADD  IsActive INT ,CreatedAt DATETIME ,ModifiedAt DATETIME

	UPDATE #NhapTp
    SET StageId = IIF(ac.StageId = 0, NULL, ac.StageId)
       ,ProductId = IIF(ac.ProductId = 0, NULL, ac.ProductId)
       ,DocDate = @_DocDate2
       ,BranchCode = @_BranchCode
       ,IsActive = 1
       --,ParentId = -1
       --,IsGroup = -1
       ,CreatedBy = @_nUserId
       ,CreatedAt = GETDATE()
       ,ModifiedBy = -1
       ,ModifiedAt = GETDATE()
    FROM #NhapTp ac
 
	DELETE #NhapTp WHERE AssetId IS NULL 

	DECLARE @_TableName  VARCHAR(264) = ''
    SELECT @_TableName  = 'B3' + @_DataCode_Branch  + 'AssetProductActual'
	
	--xoa du lieu chay lan truoc
	SELECT @_cmd = N' DELETE B10THACOIDACC_Data.dbo.  ' + @_TableName + N' WHERE DocDate = '''+ FORMAT(@_DocDate2,'yyyyMMdd') +'''  '
	EXEC (@_cmd)
 
	--append vao bang du lieu phat sinh
	EXEC dbo.usp_sys_Append @_TableSource = N'#NhapTp' -- nvarchar(128)
                           ,@_TableDestination = @_TableName
 
	END 

	UPDATE #DeprDetail
	SET Depreciation0 = 0
	WHERE Depreciation0 IS NULL 
		
	
	
	-- 23/11/2011: Thăng Không bắt trigger tự động ở các chức năng tự động.
	DECLARE @ci VARBINARY(128)
	SELECT @ci = ISNULL(CONTEXT_INFO(), 0)
	SET CONTEXT_INFO 0x55555

	DECLARE @_LogInfo NVARCHAR(MAX)

	--IF @_AssetType = 0
	--	SET @_LogInfo = dbo.ufn_sys_BH(N'Tính khấu hao tháng ', N'Depreciation calculation ', N'', N'減価償却計算 ', N'折旧计算 ', N'감가 상각 계산 ', @_LangId)
	--		+ REPLACE(STR(MONTH(@_DocDate2), 2), ' ', '0') + N'/' + STR(YEAR(@_DocDate2), 4)
	--		+ CASE WHEN @_AssetAccount <> '' THEN dbo.ufn_sys_BH(N'. Tài khoản ', N'. Account ', N'', N'. アカウント ', N'. 开户 ', N'. 계정 ', @_LangId) + LTRIM(@_AssetAccount) ELSE N'' END
	--		+ CASE WHEN @_AssetId <> '' THEN dbo.ufn_sys_BH(N'. Tài sản ', N'. Asset ', N'', N'. 資産 ', N'. 资产 ', N'. 유산 ', @_LangId) + LTRIM(@_AssetId) ELSE N'' END	
	--ELSE
	--	SET @_LogInfo = dbo.ufn_sys_BH(N'Tính chi phí phân bổ CCDC tháng ', N'Calculate the cost of instruments and tools distribution by month ', N'', N'ツールのコストとツールの配布を月ごとに計算する ', 
	--			N'按月计算工具和工具分发的成本 ', N'월별 도구 및 도구 배포 비용 계산 ', @_LangId)
	--		+ REPLACE(STR(MONTH(@_DocDate2), 2), ' ', '0') + N'/' + STR(YEAR(@_DocDate2), 4)
	--		+ CASE WHEN @_AssetAccount <> '' THEN dbo.ufn_sys_BH(N'. Tài khoản ', N'. Account ', N'', N'. アカウント ', N'. 开户 ', N'. 계정 ', @_LangId) + LTRIM(@_AssetAccount) ELSE N'' END
	--		+ CASE WHEN @_AssetId <> '' THEN dbo.ufn_sys_BH(N'. Công cụ dụng cụ ', N'. Instruments and tools ', N'', N'. 器具とツール ', N'. 仪器和工具 ', N'. 기구 및 도구 ', @_LangId) + LTRIM(@_AssetId) ELSE N'' END	

	--EXEC dbo.usp_sys_WriteLog_Command
	--		@_Description = @_LogInfo,
	--		@_nUserId = @_nUserId,
	--		@_CommandKey = @_CommandKey,
	--		@_BranchCode = @_BranchCode

	-- Xử lý xóa dữ liệu khấu hao sau thời điểm thanh lý
	SET @_cmd = N'
	;WITH TsTl
	AS
	(
		SELECT AssetId, DocDate 
		FROM dbo.vB3' + @_DataCode_Branch + N'AssetDoc 
		WHERE IsActive = 1 AND BranchCode = @_BranchCode 
			AND DocDate <= @_DocDate2 
			AND AssetTransType = ''GIAMTAISAN''
	), TsTl1
	AS
	(
		SELECT Ct.Id
		FROM B3' + @_DataCode_Branch + N'AssetDoc Ct
			INNER JOIN TsTl ON TsTl.AssetId = Ct.AssetId AND Ct.DocDate > TsTl.DocDate
		WHERE (Ct.AssetId = @_AssetId OR ISNULL(@_AssetId, 0) = 0) 
				AND Ct.AssetTransType = ''KHAUHAO''
				AND Ct.BranchCode = @_BranchCode
	)
	DELETE dbo.B3' + @_DataCode_Branch + N'AssetDoc
	FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc tb
		INNER JOIN TsTl1 ON TsTl1.Id = tb.Id		 
	--WHERE Id IN 
	--	(
	--		SELECT Ct.Id
	--		FROM B30AssetDoc Ct
	--			INNER JOIN TsTl ON ISNULL(TsTl.AssetId, 0) = ISNULL(Ct.AssetId, 0) AND Ct.DocDate > TsTl.DocDate
	--		WHERE (Ct.AssetId = LTRIM(@_AssetId) OR ISNULL(@_AssetId, 0) = 0) 
	--				AND Ct.AssetTransType = ''KHAUHAO''
	--				AND Ct.BranchCode = @_BranchCode
	--	)'

	EXECUTE sp_executesql @_cmd,
		N'@_DocDate2 DATE, @_BranchCode VARCHAR(8), @_AssetId VARCHAR(24)',	
		@_DocDate2,@_BranchCode,@_AssetId


	-- Xóa dữ liệu khấu hao cũ
	SET @_cmd = N'
	DELETE FROM dbo.B3' + @_DataCode_Branch + N'AssetDoc 
	WHERE (AssetId = @_AssetId OR ISNULL(@_AssetId, '''') = '''')
		AND (DocDate BETWEEN @_DocDate1 AND @_DocDate2) AND AssetTransType = ''KHAUHAO''
		AND CustomFlag IS NULL -- 16/01/2025 VũLA: Bổ sung điều kiện để không xoá các bản ghi trước khi sử dụng chương trình		
		AND AssetId IN 
			(
				SELECT Id FROM dbo.B2' + @_DataCode_Branch + N'Asset WHERE BranchCode = @_BranchCode 
					AND AssetAccount LIKE @_AssetAccount + ''%''
					AND Type = @_AssetType
			)

	-- Insert dữ liệu mới
	INSERT INTO dbo.B3' + @_DataCode_Branch + N'AssetDoc 
	(	
		BranchCode, AssetId, EquityId, DocDate, AssetTransType, DeptId, EmployeeId, CostCentreId, WorkProcessId, StageId,
		ExpenseCatgId, ProductId, DeprDebitAccount, DeprCreditAccount, DeprAllocationRate, IsDeprAdjusted, Depreciation, Depreciation0, CreatedBy,
		CustomFieldId1, CustomFieldId2, CustomFieldId3, CustomerId, ProfitCenterId, RouteCode, TerritoryId
	)
	SELECT @_BranchCode, AssetId, EquityId, DocDate, ''KHAUHAO'' AS AssetTransType, DeptId, EmployeeId, CostCentreId, WorkProcessId,StageId,
		ExpenseCatgId, ProductId, DeprDebitAccount, DeprCreditAccount, DeprAllocationRate, IsDeprAdjusted, Depreciation, Depreciation0, @_nUserId,
		-- 18/03/2024 ĐứcCM: Bổ sung các trường CustomFieldId trên các chứng từ TSCĐ
		CustomFieldId1, CustomFieldId2, CustomFieldId3, 
		CustomerId -- 27/07/2024 HuyTQ thêm thông tin tài khoản và đối tượng thanh lý
		,ProfitCenterId,  RouteCode,TerritoryId
	FROM #DeprDetail'

	EXECUTE sp_executesql @_cmd,
		N'@_DocDate1 DATE, @_DocDate2 DATE, @_BranchCode VARCHAR(8), @_AssetAccount VARCHAR(24), 
		  @_AssetId VARCHAR(24), @_AssetType VARCHAR(24), @_nUserId INT',	
		@_DocDate1,@_DocDate2,@_BranchCode,@_AssetAccount,@_AssetId,@_AssetType,@_nUserId
	
	DROP TABLE IF EXISTS #K_SoTmp
	DROP TABLE IF EXISTS #DeprDetail	
	DROP TABLE IF EXISTS #DeprAllocCoeff

	
	
	IF (@_AssetType = 0 AND dbo.ufn_vB00Config_GetValue('M_Post_Kh_Hao_Ts', @_BranchCode) = '1')
		OR (@_AssetType <> 0 AND dbo.ufn_vB00Config_GetValue('M_Post_Pb_CCDC', @_BranchCode) = '1')
	BEGIN		
		EXECUTE dbo.usp_B30AssetDoc_AccoDeprAsset
				@_DocDate1 = @_DocDate1, 
				@_DocDate2 = @_DocDate2, 
				@_Year	= @_Year,
				@_AssetAccount = @_AssetAccount,
				@_AssetId = @_AssetId,
				@_AssetType = @_AssetType,
				@_Round = @_Round,
				@_CustomerId = @_CustomerId,
				@_TransCode = @_TransCode,	
				@_DocNo	= @_DocNo, 
				@_DetailByAsset = @_DetailByAsset,
				@_BranchCode = @_BranchCode,
				@_nUserId = @_nUserId,
				@_AutoDisposals = @_AutoDisposals,
				@_DisposalsTransCode = @_DisposalsTransCode,
				@_CommandKey = @_CommandKey

		IF @_AssetType = 0
			SET @_LogInfo = dbo.ufn_sys_BH(N'Hạch toán khấu hao tháng ', N'Accounting for monthly depreciation ', N'', N'毎月の減価償却の会計 ', N'每月折旧核算 ', N'월별 감가 상각 회계 ', @_LangId)				 
				+ REPLACE(STR(MONTH(@_DocDate2), 2), ' ', '0') + N'/' + STR(YEAR(@_DocDate2), 4)
				+ CASE WHEN @_AssetAccount <> '' THEN dbo.ufn_sys_BH(N'. Tài khoản ', N'. Account ', N'', N'. アカウント ', N'. 开户 ', N'. 계정 ', @_LangId) + LTRIM(@_AssetAccount) ELSE N'' END
				+ CASE WHEN @_AssetId <> '' THEN dbo.ufn_sys_BH(N'. Tài sản ', N'. Asset ', N'', N'. 資産 ', N'. 资产 ', N'. 유산 ', @_LangId) + LTRIM(@_AssetId) ELSE N'' END
		ELSE IF @_AssetType = 1
			SET @_LogInfo = dbo.ufn_sys_BH(N'Hạch toán chi phí phân bổ CCDC tháng ', N'Accounting of instruments and tools allocation costs by month ', N'', 
					N'月ごとの機器およびツールの割り当てコストの会計 ', N'按月核算仪器和工具的分配费用 ', N'월별 인스트루먼트 및 툴 할당 비용 회계 ', @_LangId)	
				+ REPLACE(STR(MONTH(@_DocDate2), 2), ' ', '0') + N'/' + STR(YEAR(@_DocDate2), 4)
				+ CASE WHEN @_AssetAccount <> '' THEN dbo.ufn_sys_BH(N'. Tài khoản ', N'. Account ', N'', N'. アカウント ', N'. 开户 ', N'. 계정 ', @_LangId) + LTRIM(@_AssetAccount) ELSE N'' END
				+ CASE WHEN @_AssetId <> '' THEN dbo.ufn_sys_BH(N'. Công cụ dụng cụ ', N'. Instruments and tools ', N'', N'. 器具とツール ', N'. 仪器和工具 ', N'. 기구 및 도구 ', @_LangId) + LTRIM(@_AssetId) ELSE N'' END
		ELSE IF @_AssetType = 2
			SET @_LogInfo = dbo.ufn_sys_BH(N'Hạch toán chờ phân bổ tháng: ', N'Accounting pending allocation by month: ', N'', N'月ごとの割り当て保留中の会計: ', N'会计按月分配: ', N'월별 회계 보류 할당: ', @_LangId)	
				+ REPLACE(STR(MONTH(@_DocDate2), 2), ' ', '0') + N'/' + STR(YEAR(@_DocDate2), 4)
				+ CASE WHEN @_AssetAccount <> '' THEN dbo.ufn_sys_BH(N'. Tài khoản: ', N'. Account: ', N'', N'. アカウント: ', N'. 开户: ', N'. 계정: ', @_LangId) + LTRIM(@_AssetAccount) ELSE N'' END
				+ CASE WHEN @_AssetId <> '' THEN dbo.ufn_sys_BH(N'. Mã chi phí: ', N'. Cost code: ', N'', N'. コストコード: ', N'. 费用代码: ', N'. 비용 코드: ', @_LangId) + LTRIM(@_AssetId) ELSE N'' END

		EXEC dbo.usp_sys_WriteLog_Command 
			@_Description = @_LogInfo,
			@_nUserId =@_nUserId,
			@_CommandKey = @_CommandKey,
			@_BranchCode = @_BranchCode
	END

	SET CONTEXT_INFO @ci

	RETURN
END


