USE [B10THACOIDACC]
GO
/****** Object:  StoredProcedure [dbo].[usp_Asset_Adjust_AccountMapping_B10]    Script Date: 28-02-2026 10:28:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Coder: TINNT
-- Cập nhật dữ liệu hàng loạt cho danh mục 
-- =============================================

--SELECT * FROM B20ZCriteria
ALTER PROCEDURE [dbo].[usp_Asset_Adjust_AccountMapping_B10]
    @_LangId TINYINT = 0,
    --,@_FiscalYear    VARCHAR(24) = '2013'
    @_BranchCode VARCHAR(3) = '',
    @_nUserId INT = 0,
    @_ParentId INT = 0,
    @_CheckParentId TINYINT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @_Id INT = NULL,
            @_Ws_Id VARCHAR(3) = '',
            @_TableName VARCHAR(64) = '',
            @_DocName VARCHAR(64) = '',
            @_DataCode VARCHAR(16) = '',
            @_nl VARCHAR(13) = '',
            @_StrExec VARCHAR(4000) = '',
            @_Declare VARCHAR(4000) = '',
            @_TableSource VARCHAR(128) = '',
            @_BeginedAt DATETIME = NULL;

    SELECT @_BeginedAt = GETDATE();

    DROP TABLE IF EXISTS #tbl;
    SELECT m.Id,
           m.ParentId,
           m.IsGroup,
           m.BranchCode,
           CAST(NULL AS VARCHAR(24)) AS AssetCodeB10,
           m.Code AS AssetCodeB7,
           m.CodeOld,
           m.CodeMapToB10,
           m.DeprDebitAccount,
           CAST(NULL AS INT) AS AssetId
    INTO #tbl
    FROM B20ChartOfAccountMapping m
    --LEFT JOIN B22018Asset A ON m.Code = A.Code
    WHERE m.BranchCode = @_BranchCode
          AND
          (
              ISNULL(CodeMapToB10, '') <> ''
              OR ISNULL(m.DeprDebitAccount, '') <> ''
          );

    IF NOT EXISTS (SELECT * FROM #tbl)
        RETURN;

    BEGIN

        SELECT @_DataCode = DataCode
        FROM dbo.B00Branch
        WHERE BranchCode = @_BranchCode;

        IF ISNULL(@_Ws_Id, '') = ''
        BEGIN
            SELECT TOP 1
                   @_Ws_Id = ISNULL(Ws_Id, @_BranchCode)
            FROM dbo.B00Branch WITH (NOLOCK)
            WHERE BranchCode = @_BranchCode;
        END;

    END;

    BEGIN
        --lấy Id bảng
        SELECT @_DocName = 'B20Asset';

        SELECT @_TableSource = REPLACE(@_DocName, 'B20', 'B2' + @_DataCode);

        SELECT @_StrExec = 'UPDATE #tbl SET AssetId = ASS.Id
				FROM #tbl T INNER JOIN ' + @_TableSource + ' ASS ON t.AssetCodeB7 = ASS.Code ';

        EXEC (@_StrExec);

        --truong hop da chuyen doi sang ma ccdc theo quy tac moi ben b10 thi lay theo codeb7 de update lai
        SELECT @_StrExec
            = ' 
			  IF EXISTS (SELECT * FROM #tbl WHERE AssetId IS NULL )
				UPDATE #tbl SET	AssetId = ASS.Id,
								AssetCodeB10 =ass.Code
				FROM #tbl T INNER JOIN ' + @_TableSource + ' ASS ON t.AssetCodeB7 = ASS.AssetCodeB7 ';

        EXEC (@_StrExec);



        SELECT @_StrExec = ' DELETE #tbl WHERE AssetId NOT IN (SELECT Id FROM ' + @_TableSource + ')';

        EXEC (@_StrExec);

        PRINT @_StrExec;
    END;


    --cập nhật B30AssetDoc
    BEGIN
        SELECT @_DocName = 'B30AssetDoc';

        SELECT @_TableSource = REPLACE(@_DocName, 'B30', 'B3' + @_DataCode);


        SELECT @_StrExec
            = '
        IF EXISTS (SELECT * FROM #tbl WHERE ISNULL(CodeMapToB10,'''') <> '''')
        UPDATE ' + @_TableSource + '
	SET DeprCreditAccount = t.CodeMapToB10 
		 
	FROM ' + @_TableSource
              + ' ASS INNER JOIN #tbl   t ON t.AssetId = ASS.AssetId WHERE ASS.AssetId IN  (SELECT t.AssetId FROM #tbl AS t
	 WHERE ISNULL(t.CodeMapToB10,'''') <> '''' 
    ) 
	'   ;
 
        EXEC (@_StrExec);
        PRINT @_StrExec;
 
        SELECT @_StrExec
            = ' 
                IF EXISTS (SELECT * FROM #tbl WHERE ISNULL(DeprDebitAccount,'''') <> '''')

                UPDATE ' + @_TableSource + '
	SET  DeprDebitAccount = t.DeprDebitAccount
	FROM ' + @_TableSource
              + ' ASS INNER JOIN #tbl   t ON t.AssetId = ASS.AssetId WHERE ASS.AssetId IN  (SELECT t.AssetId FROM #tbl AS t WHERE ISNULL(t.DeprDebitAccount,'''') <> '''' ) ';

        EXEC (@_StrExec);

    END; 

    SELECT *,
           N'Đã thực hiện xong' AS Check_Status,
           @_BeginedAt AS BeginedAt,
           GETDATE() AS EndAt
    FROM #tbl;


END;
