USE [B10THACOIDACC]
GO
/****** Object:  StoredProcedure [dbo].[usp_Kct_SubsidiaryLedger_DTTC_ID]    Script Date: 16-06-2026 11:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Coder: AnhPK

-- ====================================
-- Author: Bravo
-- Create date:
-- Description: Sổ chi tiết tài khoản
-- ====================================
create or ALTER     PROCEDURE [dbo].usp_Kct_SubsidiaryLedger_DTTC_ID 
	@_DocDate1 DATE = 'Feb 01 2019',
	@_DocDate2 DATE = 'Mar 01 2019',
	@_Account VARCHAR(1000) = '',
	@_RouteCode NVARCHAR(1000) = '',
	@_AccountLevel INT = 0,
	@_ForeignCurrencyOnly TINYINT = 0,
	@_nUserId AS INT = 0,
	@_LangId SMALLINT = 0,
	@_CurrencyCode0 VARCHAR(3) = 'VND',
	@_BranchCode VARCHAR(3) = 'A01'
AS
BEGIN
	SET NOCOUNT ON;

	-- Tự động lấy thông tin theo AppName khi thực hiện trong chương trình, không theo tham số truyền vào
	SET @_nUserId = dbo.ufn_sys_GetValueFromAppName('UserId', @_nUserId)
	SET @_BranchCode = dbo.ufn_sys_GetValueFromAppName('BranchCode', @_BranchCode)

	SET @_Account = RTRIM(@_Account)	

	DECLARE @_KeyCd NVARCHAR(MAX) = '',
		@_Key1 NVARCHAR(MAX) = '',
		@_Key2 NVARCHAR(MAX),
		@_DebitBal1 NUMERIC(18, 2),
		@_CreditBal1 NUMERIC(18, 2),
		@_OriginalDebitBal1 NUMERIC(18, 2),
		@_OriginalCreditBal1 NUMERIC(18, 2),
		@_DebitAmount NUMERIC(18, 2),
		@_CreditAmount NUMERIC(18, 2),
		@_OriginalDebitAmount NUMERIC(18, 2),
		@_OriginalCreditAmount NUMERIC(18, 2),
		@_DebitBalance2 NUMERIC(18, 2),
		@_OriginalDebitBalance2 NUMERIC(18, 2),
		@_CreditBalance2 NUMERIC(18, 2),
		@_OriginalCreditBalance2 NUMERIC(18, 2),
		@_Temp_Value NUMERIC(18, 2),
		@_Temp_Value_Nt NUMERIC(18, 2),
		@_DocNumber INT
	
	IF @_Account <> ''
	BEGIN
		SET @_KeyCd = N'((Account LIKE ''' + REPLACE(@_Account, ',', '%'') OR (Account LIKE ''') + '%''))'
		SET @_Key1 = N'(Account LIKE ''' + REPLACE(@_Account, ',', '%'') OR (Account LIKE ''') + '%'')'
	END

	IF @_RouteCode <> ''
	BEGIN
		SET @_KeyCd	= @_KeyCd + ' AND (RouteCode LIKE ''' + @_RouteCode + '%'')'
		SET @_Key1 = @_Key1 + ' AND (RouteCode LIKE ''' + @_RouteCode + '%'')'
	END

	SET @_Key2 = @_KeyCd

	-- Lay so du dau tai khoan
	DROP TABLE IF EXISTS #SoDuDau
	SELECT TOP (0) Account, CustomerId, ProductId,
		Amount AS DebitBal1, Amount AS CreditBal1,
		OriginalAmount AS OriginalDebitBal1, OriginalAmount AS OriginalCreditBal1,
		CAST('' AS NVARCHAR(96)) AS AccountName,
		CAST('' AS NVARCHAR(96)) AS AccountCal,
		CAST('' AS NVARCHAR(96)) AS ParentGroupOrder,
		BranchCode, CAST('' AS NVARCHAR(512)) AS RouteName
	INTO #SoDuDau
	FROM dbo.B00CtTmp

	EXECUTE dbo.usp_B30OpenBalance_GetData
		@_DocDate0 = @_DocDate1,
		@_Key = @_KeyCd,
		@_CtTmp = N'#SoDuDau',
		@_nUserId = @_nUserId,
		@_LangId = @_LangId,
		@_BranchCode = @_BranchCode,
		@_CurrencyCode0 = @_CurrencyCode0,
		@_Opening = 0,			
		@_Accumulate = 0,		
		@_AutoCalculate = 1, 	
		@_GroupByColumnList = N'Account,CustomerId,ProductId'	
    
	--DELETE FROM #SoDuDau WHERE ISNULL(RouteCode,'') = ''

	--SELECT * FROM #SoDuDau AS sdd RETURN
	
	--SELECT * FROM #SoDuDau WHERE ISNULL(RouteCode,'') = '' AND Account LIKE N'111%' RETURN

	DROP TABLE IF EXISTS #K_CtTmp0
	SELECT TOP (0) CAST(NULL AS INT) AS Id, DocDate, DocNo, DocCode, DocGroup, 
		Description, CrspAccount, Account, Person,
		DebitAmount, CreditAmount, OriginalDebitAmount, OriginalCreditAmount,
		CAST('' AS NCHAR(1)) AS DocGroup0, Stt, RowId,
		CustomerId, ProductId, CurrencyCode, ExchangeRate,
		CAST('' AS VARCHAR(24)) AS GroupCode, CAST('' AS NVARCHAR(256)) AS GroupName,
		CAST('' AS NVARCHAR(96)) AS AccountCal,
		CAST('' AS NVARCHAR(96)) AS ParentGroupOrder,
		DocBookingId,
		BranchCode, CAST('' AS NVARCHAR(24)) AS CashFlowId, CAST(0 AS INT) AS DocNumber
	INTO #K_CtTmp0
	FROM dbo.B00CtTmp

	EXECUTE dbo.usp_B30GeneralLedger_GetData
		@_DocDate1 = @_DocDate1,
		@_DocDate2 = @_DocDate2,
		@_Key1 = @_Key1,
		@_Key2 = @_Key2,
		@_CtTmp = N'#K_CtTmp0',
		@_nUserId = @_nUserId,
		@_LangId = @_LangId,
		@_BranchCode = @_BranchCode,
		@_CurrencyCode0 = @_CurrencyCode0
		,@_printexec = 0

	-- Xóa bản ghi = 0
	DELETE FROM #K_CtTmp0 WHERE CreditAmount = 0 AND DebitAmount = 0
 
	UPDATE #K_CtTmp0 SET DocGroup0 = '2' WHERE CreditAmount > 0

	UPDATE #K_CtTmp0 SET CashFlowId='' FROM #K_CtTmp0 WHERE ISNULL(CashFlowId,'')=''

	-- 08/08/2016 MinhPT: xử lý lấy dữ liệu theo tk tổng hợp
	IF ISNULL(@_AccountLevel, 0) = 1
	BEGIN
		IF ISNULL(@_Account, '') <> ''
		BEGIN

			UPDATE a
			SET a.AccountCal = b.value
				FROM #SoDuDau a
				CROSS APPLY (SELECT ac.value FROM STRING_SPLIT(@_Account,',') ac
							WHERE a.Account LIKE RTRIM(ac.value) + '%') AS b

			UPDATE a
			SET a.AccountCal = b.value
			FROM #K_CtTmp0 a
				CROSS APPLY (SELECT ac.value FROM STRING_SPLIT(@_Account,',') ac
							WHERE a.Account LIKE ac.value + '%') AS b
		END ELSE
		BEGIN
			UPDATE #SoDuDau SET AccountCal = LEFT(Account, 3)
			UPDATE #K_CtTmp0 SET AccountCal = LEFT(Account, 3)

		END
	END ELSE
	BEGIN
		UPDATE #SoDuDau SET AccountCal = Account
		UPDATE #K_CtTmp0 SET AccountCal = Account

	END

	UPDATE #SoDuDau
	SET AccountCal = N'111,112,113'
	FROM #SoDuDau
 
	UPDATE #K_CtTmp0
	SET    DocNumber = 1,
		Account   = CASE WHEN Account LIKE N'111%' THEN '111' WHEN Account LIKE N'112%' THEN '112' ELSE '113' END --,Account = IIF(Account LIKE N'111%', '111', '112')
	FROM   #K_CtTmp0;
 

	UPDATE #SoDuDau
	SET Account = 
	CASE   WHEN Account LIKE N'111%' then '111'
	   WHEN Account LIKE N'112%' then '112'
	   ELSE '113' END  
	FROM #SoDuDau
    
	--SELECT * FROM #K_CtTmp0 return

	----------------
	DROP TABLE IF EXISTS #K_CtTmpTH
	SELECT MAX(Id) AS Id
		  ,CAST('' AS VARCHAR(128)) AS _GroupOrder
		  ,DocDate
		  ,MAX(DocNo) AS DocNo
		  ,MAX(DocCode) AS DocCode
		  ,MAX(DocGroup) AS DocGroup
		  ,MAX(Description) AS Description
		  ,MAX(Account) AS Account
		  ,MAX(CrspAccount) AS CrspAccount
		  ,MAX(Person) AS Person
		  ,SUM(DebitAmount) AS DebitAmount
		  ,SUM(CreditAmount) AS CreditAmount
		  ,SUM(OriginalDebitAmount) AS OriginalDebitAmount
		  ,SUM(OriginalCreditAmount) AS OriginalCreditAmount
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitBalance
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditBalance
		  ,CAST(0 AS NUMERIC(18, 2)) AS OriginalDebitBalance
		  ,CAST(0 AS NUMERIC(18, 2)) AS OriginalCreditBalance
		  ,MAX(Stt) AS Stt
		  ,MAX(DocGroup0) AS DocGroup0
		  ,'3' AS _Status
		  ,MAX(CustomerId) AS CustomerId
		  ,MAX(ProductId) AS ProductId
		  ,MAX(CurrencyCode) AS CurrencyCode
		  ,MAX(ExchangeRate) AS ExchangeRate
		  ,CAST(N'' AS NVARCHAR(64)) AS _FormatStyleKey
		  ,CAST('' AS DATE) AS DocDate1
		  ,MAX(GroupCode) AS GroupCode
		  ,MAX(GroupName) AS GroupName
		  ,MAX(AccountCal) AS AccountCal
		  ,ROW_NUMBER() OVER (PARTITION BY MAX(AccountCal)
							  ORDER BY MAX(AccountCal)
									  
									  ,DocDate
									  ,CashFlowId
									  ,MAX(Id)
							 ) AS _Rank
		  ,MAX(DocBookingId) AS DocBookingId
		  ,CAST('' AS NVARCHAR(24)) AS DocBookingNo
		  ,CAST(NULL AS DATETIME) AS DocBookingDate
	 
	 
		  ,CashFlowId
		  ,CAST('' AS NVARCHAR(156)) AS CashFlowName
		  ,SUM(DocNumber) AS DocNumber
		  ,CAST(0 AS INT) AS _StatusTH
		  --111
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitAmount111
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditAmount111
		  ,CAST(0 AS NUMERIC(18, 2)) AS DocNumber111
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitBalance111
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditBalance111
		  --112
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitAmount112
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditAmount112
		  ,CAST(0 AS NUMERIC(18, 2)) AS DocNumber112
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitBalance112
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditBalance112
		  --113
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitAmount113
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditAmount113
		  ,CAST(0 AS NUMERIC(18, 2)) AS DocNumber113
		  ,CAST(0 AS NUMERIC(18, 2)) AS DebitBalance113
		  ,CAST(0 AS NUMERIC(18, 2)) AS CreditBalance113
		  ,BranchCode
		  ,CAST('' AS NVARCHAR(2000)) AS _LinkCommand
	INTO #K_CtTmpTH
	FROM #K_CtTmp0
	GROUP BY CashFlowId
			,DocDate,BranchCode
			 

	  

	CREATE CLUSTERED INDEX IX_Rank_K_CtTmp ON #K_CtTmpTH (_Rank)

	EXEC dbo.usp_sys_DefaultTable '#K_CtTmpTH'

	UPDATE #K_CtTmpTH
	SET CashFlowName = ISNULL(b.Name, '')	   
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN dbo.B20CashFlow AS b ON a.CashFlowId = b.Id
	 

	UPDATE #K_CtTmpTH SET CashFlowName=N'Chưa xác định khoản mục dòng tiền'
	FROM #K_CtTmpTH WHERE ISNULL(CashFlowId,'')=''

	UPDATE #K_CtTmpTH SET AccountCal=N'111,112,113'
	FROM #K_CtTmpTH

	UPDATE #K_CtTmpTH SET _LinkCommand=N'REP09_BKCT DocDate1=''{=DocDate}'';DocDate2=''{=DocDate}'';Account=''{=@_Account}'';CashFlowId=''{=CashFlowId}'';'
	FROM #K_CtTmpTH
	---------------------
	
	DROP TABLE IF EXISTS #K_CtTmp
	SELECT  Id, CAST('' AS VARCHAR(128)) AS _GroupOrder,
		DocDate, DocNo, DocCode, DocGroup, Description, Account, CrspAccount, Person,
		DebitAmount, CreditAmount, OriginalDebitAmount, OriginalCreditAmount,
		CAST(0 AS NUMERIC(18, 2)) AS DebitBalance, CAST(0 AS NUMERIC(18, 2)) AS CreditBalance,
		CAST(0 AS NUMERIC(18, 2)) AS OriginalDebitBalance, CAST(0 AS NUMERIC(18, 2)) AS OriginalCreditBalance,
		Stt, DocGroup0, '1' AS _Status, CustomerId, ProductId, CurrencyCode, ExchangeRate,
		CAST(N'' AS NVARCHAR(64)) AS _FormatStyleKey,
		CAST('' AS DATE) AS DocDate1,
		GroupCode, GroupName, AccountCal,BranchCode,
		ROW_NUMBER () OVER (PARTITION BY AccountCal ORDER BY AccountCal, DocDate, DocGroup0, DocNo, Id) AS _Rank,
		DocBookingId, CAST('' AS NVARCHAR(24)) AS DocBookingNo, CAST(NULL AS DATETIME) AS DocBookingDate,  CashFlowId
	INTO #K_CtTmp
	FROM #K_CtTmp0
 
	CREATE CLUSTERED INDEX IX_Rank_K_CtTmp ON #K_CtTmp (_Rank)

	EXEC dbo.usp_sys_DefaultTable '#K_CtTmp'

	----------------TuanPT sửa theo báo cáo mới
	-- Lấy ra danh sách tài khoản từ số dư và phát sinh
	SELECT DISTINCT AccountCal 
	INTO #DsAccountTempTH
	FROM #K_CtTmpTH
	union 
	SELECT ISNULL (MAX(AccountCal),'') AS AccountCal  
	FROM #SoDuDau 
	WHERE isnull(AccountCal,'') NOT IN (SELECT AccountCal FROM #K_CtTmpTH) 
	and isnull(AccountCal,'') <> ''   

 
    
	DECLARE @_Account_ScanTH AS VARCHAR(24)   
	WHILE EXISTS(SELECT * FROM #DsAccountTempTH)
	BEGIN
		SELECT TOP 1
			   @_Account_ScanTH = AccountCal
			 
		FROM #DsAccountTempTH
		
		SELECT @_DebitBal1 = SUM(DebitBal1),
			@_CreditBal1 = SUM(CreditBal1),
			@_OriginalDebitBal1 = SUM(OriginalDebitBal1),
			@_OriginalCreditBal1 = SUM(OriginalCreditBal1)
		FROM #SoDuDau
		WHERE AccountCal = @_Account_ScanTH 
	
		SELECT @_Temp_Value = 0
			  ,@_Temp_Value_Nt = 0
			  ,@_DebitBal1 = ISNULL(@_DebitBal1, 0)
			  ,@_CreditBal1 = ISNULL(@_CreditBal1, 0)
			  ,@_OriginalDebitBal1 = ISNULL(@_OriginalDebitBal1, 0)
			  ,@_OriginalCreditBal1 = ISNULL(@_OriginalCreditBal1, 0)
			  ,@_DebitAmount = 0
			  ,@_CreditAmount = 0
			  ,@_OriginalDebitAmount = 0
			  ,@_OriginalCreditAmount = 0
			  ,@_DebitBalance2 = 0
			  ,@_CreditBalance2 = 0
			  ,@_OriginalDebitBalance2 = 0
			  ,@_OriginalCreditBalance2 = 0
			  ,@_DocNumber = 0
				
			IF @_DebitBal1 > @_CreditBal1 
				SET @_DebitBalance2 = @_DebitBal1 - @_CreditBal1
			ELSE
				SET @_CreditBalance2 = @_CreditBal1 - @_DebitBal1
				
			IF @_OriginalDebitBal1 > @_OriginalCreditBal1
				SET @_OriginalDebitBalance2 = @_OriginalDebitBal1 - @_OriginalCreditBal1
			ELSE
				SET @_OriginalCreditBalance2 = @_OriginalCreditBal1 - @_OriginalDebitBal1

			UPDATE #K_CtTmpTH
				SET @_DebitAmount = @_DebitAmount + DebitAmount, @_CreditAmount = @_CreditAmount + CreditAmount,
					@_OriginalDebitAmount = @_OriginalDebitAmount + OriginalDebitAmount, @_OriginalCreditAmount = @_OriginalCreditAmount + OriginalCreditAmount,
					@_Temp_Value = (@_DebitBalance2 - @_CreditBalance2) + (DebitAmount - CreditAmount),
					@_DebitBalance2 = DebitBalance = IIF(@_Temp_Value > 0, @_Temp_Value, 0),
					@_CreditBalance2 = CreditBalance = IIF(@_Temp_Value <= 0, ABS(@_Temp_Value), 0),
					@_Temp_Value_Nt = (@_OriginalDebitBalance2 - @_OriginalCreditBalance2) + (OriginalDebitAmount - OriginalCreditAmount),
					@_OriginalDebitBalance2 = OriginalDebitBalance = IIF(@_Temp_Value_Nt > 0, @_Temp_Value_Nt, 0),
					@_OriginalCreditBalance2 = OriginalCreditBalance = IIF(@_Temp_Value_Nt <= 0, ABS(@_Temp_Value_Nt), 0),
					@_DocNumber=@_DocNumber + DocNumber
				FROM #K_CtTmpTH
				WHERE AccountCal = @_Account_ScanTH  
		
		if ( isnull(@_Account_ScanTH,'') <>'')
		begin 
		INSERT #K_CtTmpTH (Id, Account, DocDate, Description, DebitBalance, CreditBalance, OriginalDebitBalance, OriginalCreditBalance, _Status, _FormatStyleKey, AccountCal) VALUES
				(NULL, @_Account_ScanTH, NULL, dbo.ufn_sys_MessageText(N'DuDauKy', @_LangId)+ N' - ' +'', ISNULL(@_DebitBal1, 0), ISNULL(@_CreditBal1, 0), ISNULL(@_OriginalDebitBal1, 0), 
				ISNULL(@_OriginalCreditBal1, 0), N'1', 'BOLD', @_Account_ScanTH)

		INSERT #K_CtTmpTH (Id, Account, DocDate, Description, DebitAmount, CreditAmount, OriginalDebitAmount, OriginalCreditAmount, _Status, _FormatStyleKey, AccountCal, DocNumber) VALUES
				(NULL, @_Account_ScanTH, NULL, dbo.ufn_sys_MessageText(N'TongPhatSinh', @_LangId)+ N' - ' +'',ISNULL(@_DebitAmount, 0), ISNULL(@_CreditAmount, 0), ISNULL(@_OriginalDebitAmount, 0), 
				ISNULL(@_OriginalCreditAmount, 0), N'2', 'BOLD', @_Account_ScanTH, @_DocNumber)

		INSERT #K_CtTmpTH (Id, Account, DocDate, Description, DebitBalance, CreditBalance, OriginalDebitBalance, OriginalCreditBalance, _Status, _FormatStyleKey, AccountCal) VALUES
				(NULL, @_Account_ScanTH, NULL, N'Tồn quỹ'+ N' - ' +'',ISNULL(@_DebitBalance2, 0), ISNULL(@_CreditBalance2, 0), ISNULL(@_OriginalDebitBalance2, 0), ISNULL(@_OriginalCreditBalance2, 0), N'8',
				'BOLD', @_Account_ScanTH)
		end 

		DELETE FROM #DsAccountTempTH WHERE AccountCal = @_Account_ScanTH  
	END
	------------------

	

	--INSERT #K_CtTmpTH (Id, Account, DocDate, Description, DebitBalance, CreditBalance, OriginalDebitBalance, OriginalCreditBalance, _Status, _FormatStyleKey, AccountCal) 
	--SELECT 	NULL, NULL, NULL, N'SỐ DƯ ĐẦU KỲ', 
	--		SUM(DebitBalance), SUM(CreditBalance), SUM(OriginalDebitBalance), SUM(OriginalCreditBalance), N'0', 'BOLD', '111,112,113'
	--FROM #K_CtTmpTH
	--WHERE _Status=1

	--INSERT #K_CtTmpTH (Id, Account, DocDate, Description, DebitAmount, CreditAmount, OriginalDebitAmount, OriginalCreditAmount, _Status, _FormatStyleKey, AccountCal,DocNumber)
	--SELECT 	NULL, NULL, NULL, N'TỔNG CỘNG', 
	--		SUM(DebitAmount), SUM(CreditAmount), SUM(OriginalDebitAmount), SUM(OriginalCreditAmount), N'4', 'BOLD', '111,112,113',  SUM(DocNumber)
	--FROM #K_CtTmpTH
	--WHERE _Status=2

	--INSERT #K_CtTmpTH (Id, Account, DocDate, Description, DebitBalance, CreditBalance, OriginalDebitBalance, OriginalCreditBalance, _Status, _FormatStyleKey, AccountCal)
	--SELECT 	NULL, NULL, NULL, N'SỐ DƯ CUỐI KỲ', 
	--		SUM(DebitBalance), SUM(CreditBalance), SUM(OriginalDebitBalance), SUM(OriginalCreditBalance), N'9', 'BOLD', '111,112,113'
	--FROM #K_CtTmpTH
	--WHERE _Status=8

	--SELECT * FROM #K_CtTmpTH AS kctt RETURN

	--	SELECT *
	--FROM #K_CtTmpTH
	--ORDER BY AccountCal,_StatusTH,_Status,DocDate,_Rank
 --RETURN

	---Update 4 cột tiền mặt/ chuyển khoản
		UPDATE #K_CtTmpTH
	SET DebitAmount111 = ISNULL(ct.DebitAmount, 0)
	   ,CreditAmount111 = ISNULL(ct.CreditAmount, 0)
	   ,DocNumber111 = ISNULL(ct.DocNumber, 0)
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN
		 (
			 SELECT CashFlowId
				   ,DocDate
				   ,BranchCode
				   ,SUM(DebitAmount) AS DebitAmount
				   ,SUM(CreditAmount) AS CreditAmount
				   ,SUM(DocNumber) AS DocNumber
			 FROM #K_CtTmp0
			 WHERE Account = '111'
			 GROUP BY CashFlowId
					 ,DocDate
					 ,BranchCode
		 ) AS ct ON ct.CashFlowId = a.CashFlowId
					AND ct.DocDate = a.DocDate
					AND ct.BranchCode = a.BranchCode

		UPDATE #K_CtTmpTH
	SET DebitAmount112 = ISNULL(ct.DebitAmount, 0)
	   ,CreditAmount112 = ISNULL(ct.CreditAmount, 0)
	   ,DocNumber112 = ISNULL(ct.DocNumber, 0)
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN
		 (
			 SELECT CashFlowId
				   ,DocDate
				   ,BranchCode
				   ,SUM(DebitAmount) AS DebitAmount
				   ,SUM(CreditAmount) AS CreditAmount
				   ,SUM(DocNumber) AS DocNumber
			 FROM #K_CtTmp0
			 WHERE Account = '112'
			 GROUP BY CashFlowId
					 ,DocDate
					 ,BranchCode
		 ) AS ct ON ct.CashFlowId = a.CashFlowId
					AND ct.DocDate = a.DocDate
					AND ct.BranchCode = a.BranchCode

	UPDATE #K_CtTmpTH
	SET DebitAmount113 = ISNULL(ct.DebitAmount, 0)
	   ,CreditAmount113 = ISNULL(ct.CreditAmount, 0)
	   ,DocNumber113 = ISNULL(ct.DocNumber, 0)
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN
		 (
			 SELECT CashFlowId
				   ,DocDate
				   ,BranchCode
				   ,SUM(DebitAmount) AS DebitAmount
				   ,SUM(CreditAmount) AS CreditAmount
				   ,SUM(DocNumber) AS DocNumber
			 FROM #K_CtTmp0
			 WHERE Account = '113'
			 GROUP BY CashFlowId
					 ,DocDate
					 ,BranchCode
		 ) AS ct ON ct.CashFlowId = a.CashFlowId
					AND ct.DocDate = a.DocDate



	--UPDATE #K_CtTmpTH
	--SET DebitBalance111 = ISNULL(ct.DebitBal1, 0)
	--   ,CreditBalance111 = ISNULL(ct.CreditBal1, 0)
	--FROM #K_CtTmpTH AS a
	--	 LEFT OUTER JOIN
	--	 (
	--		 SELECT RouteCode
	--			   ,SUM(DebitBal1) AS DebitBal1
	--			   ,SUM(CreditBal1) AS CreditBal1
	--		 FROM #SoDuDau
	--		 WHERE Account = '111'
	--		 GROUP BY RouteCode
	--	 ) AS ct ON ct.RouteCode = a.RouteCode
	--WHERE a._Status = 1

	--UPDATE #K_CtTmpTH
	--SET DebitBalance112 = ISNULL(ct.DebitBal1, 0)
	--   ,CreditBalance112 = ISNULL(ct.CreditBal1, 0)
	--FROM #K_CtTmpTH AS a
	--	 LEFT OUTER JOIN
	--	 (
	--		 SELECT RouteCode
	--			   ,SUM(DebitBal1) AS DebitBal1
	--			   ,SUM(CreditBal1) AS CreditBal1
	--		 FROM #SoDuDau
	--		 WHERE Account = '112'
	--		 GROUP BY RouteCode
	--	 ) AS ct ON ct.RouteCode = a.RouteCode
	--WHERE a._Status = 1

	UPDATE #K_CtTmpTH
	SET DebitBalance111 =
		(
			SELECT SUM(DebitBalance111)FROM #K_CtTmpTH WHERE _Status = 1
		)
	   ,CreditBalance111 =
		(
			SELECT SUM(CreditBalance111)FROM #K_CtTmpTH WHERE _Status = 1
		)
	FROM #K_CtTmpTH AS a
	WHERE a._Status = 0

	UPDATE #K_CtTmpTH
	SET DebitBalance112 =
		(
			SELECT SUM(DebitBalance112)FROM #K_CtTmpTH WHERE _Status = 1
		)
	   ,CreditBalance112 =
		(
			SELECT SUM(CreditBalance112)FROM #K_CtTmpTH WHERE _Status = 1
		)
	FROM #K_CtTmpTH AS a
	WHERE a._Status = 0

	UPDATE #K_CtTmpTH
	SET DebitBalance113 =
		(
			SELECT SUM(DebitBalance113)FROM #K_CtTmpTH WHERE _Status = 1
		)
	   ,CreditBalance113 =
		(
			SELECT SUM(CreditBalance113)FROM #K_CtTmpTH WHERE _Status = 1
		)
	FROM #K_CtTmpTH AS a
	WHERE a._Status = 0


	UPDATE #K_CtTmpTH
	SET DebitAmount111 = ISNULL(ct.DebitAmount111, 0)
	   ,CreditAmount111 = ISNULL(ct.CreditAmount111, 0)
	   ,DocNumber111 = ISNULL(ct.DocNumber111, 0)
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN
		 (
			 SELECT BranchCode
				   ,SUM(DebitAmount111) AS DebitAmount111
				   ,SUM(CreditAmount111) AS CreditAmount111
				   ,SUM(DocNumber111) AS DocNumber111
			 FROM #K_CtTmpTH
			 WHERE _Status = 3
			 GROUP BY BranchCode
		 ) AS ct ON ct.BranchCode = a.BranchCode
	WHERE a._Status = 2

	UPDATE #K_CtTmpTH
	SET DebitAmount112 = ISNULL(ct.DebitAmount112, 0)
	   ,CreditAmount112 = ISNULL(ct.CreditAmount112, 0)
	   ,DocNumber112 = ISNULL(ct.DocNumber112, 0)
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN
		 (
			 SELECT BranchCode
				   ,SUM(DebitAmount112) AS DebitAmount112
				   ,SUM(CreditAmount112) AS CreditAmount112
				   ,SUM(DocNumber112) AS DocNumber112
			 FROM #K_CtTmpTH
			 WHERE _Status = 3
			 GROUP BY BranchCode
		 ) AS ct ON ct.BranchCode = a.BranchCode
	WHERE a._Status = 2

	UPDATE #K_CtTmpTH
	SET DebitAmount113 = ISNULL(ct.DebitAmount113, 0)
	   ,CreditAmount113 = ISNULL(ct.CreditAmount113, 0)
	   ,DocNumber113 = ISNULL(ct.DocNumber113, 0)
	FROM #K_CtTmpTH AS a
		 LEFT OUTER JOIN
		 (
			 SELECT BranchCode
				   ,SUM(DebitAmount113) AS DebitAmount113
				   ,SUM(CreditAmount113) AS CreditAmount113
				   ,SUM(DocNumber113) AS DocNumber113
			 FROM #K_CtTmpTH
			 WHERE _Status = 3
			 GROUP BY BranchCode
		 ) AS ct ON ct.BranchCode = a.BranchCode
	WHERE a._Status = 2


	UPDATE #K_CtTmpTH
	SET DebitAmount111 =
		(
			SELECT SUM(DebitAmount111)FROM #K_CtTmpTH WHERE _Status = 2
		)
	   ,CreditAmount111 =
		(
			SELECT SUM(CreditAmount111)FROM #K_CtTmpTH WHERE _Status = 2
		)
	   ,DocNumber111 =
		(
			SELECT SUM(DocNumber111)FROM #K_CtTmpTH WHERE _Status = 2
		)
	FROM #K_CtTmpTH AS a
	WHERE a._Status = 4

	UPDATE #K_CtTmpTH
	SET DebitAmount112 =
		(
			SELECT SUM(DebitAmount112)FROM #K_CtTmpTH WHERE _Status = 2
		)
	   ,CreditAmount112 =
		(
			SELECT SUM(CreditAmount112)FROM #K_CtTmpTH WHERE _Status = 2
		)
	   ,DocNumber112 =
		(
			SELECT SUM(DocNumber112)FROM #K_CtTmpTH WHERE _Status = 2
		)
	FROM #K_CtTmpTH AS a
	WHERE a._Status = 4

	UPDATE #K_CtTmpTH
	SET DebitAmount113 =
		(
			SELECT SUM(DebitAmount113)FROM #K_CtTmpTH WHERE _Status = 2
		)
	   ,CreditAmount113 =
		(
			SELECT SUM(CreditAmount113)FROM #K_CtTmpTH WHERE _Status = 2
		)
	   ,DocNumber113 =
		(
			SELECT SUM(DocNumber113)FROM #K_CtTmpTH WHERE _Status = 2
		)
	FROM #K_CtTmpTH AS a
	WHERE a._Status = 4



	----------------
	---Đoạn Update sửa lại lấy dữ liệu
	UPDATE #K_CtTmpTH SET Description=CashFlowName
	FROM #K_CtTmpTH
	WHERE ISNULL(CashFlowName,'') <> ''

	UPDATE #K_CtTmpTH SET _StatusTH=IIF(_Status IN (0,1),0,IIF(_Status=4,7,IIF(_Status=8,8,IIF(_Status=9,9,5))))
	FROM #K_CtTmpTH

	UPDATE #K_CtTmpTH SET DebitAmount=IIF(DebitBalance > CreditBalance,DebitBalance-CreditBalance,0), 
	                      CreditAmount=IIF(CreditBalance > DebitBalance,CreditBalance - DebitBalance,0),
						  DebitAmount111=IIF(DebitBalance111 > CreditBalance111,DebitBalance111-CreditBalance111,0),
						  CreditAmount111=IIF(CreditBalance111 > DebitBalance111,CreditBalance111 - DebitBalance111,0),
						  DebitAmount112=IIF(DebitBalance112 > CreditBalance112,DebitBalance112-CreditBalance112,0),
						  CreditAmount112=IIF(CreditBalance112 > DebitBalance112,CreditBalance112 - DebitBalance112,0),

						    DebitAmount113=IIF(DebitBalance113 > CreditBalance113,DebitBalance113-CreditBalance113,0),
						  CreditAmount113=IIF(CreditBalance113 > DebitBalance113,CreditBalance113 - DebitBalance113,0)
	FROM #K_CtTmpTH WHERE _Status IN (0,1)

	-------
	UPDATE #K_CtTmpTH SET DebitBalance111=ISNULL(ct.DebitAmount111,0), CreditBalance111=ISNULL(ct.CreditAmount111,0)
		FROM #K_CtTmpTH a LEFT OUTER JOIN (
		SELECT BranchCode, SUM(DebitAmount111) AS DebitAmount111, SUM(CreditAmount111) AS CreditAmount111 FROM #K_CtTmpTH WHERE _Status IN (1,2) GROUP BY BranchCode
		) AS ct ON ct.BranchCode=a.BranchCode
		WHERE a._Status=8

	UPDATE #K_CtTmpTH SET DebitBalance112=ISNULL(ct.DebitAmount112,0), CreditBalance112=ISNULL(ct.CreditAmount112,0)
		FROM #K_CtTmpTH a LEFT OUTER JOIN (
		SELECT BranchCode, SUM(DebitAmount112) AS DebitAmount112, SUM(CreditAmount112) AS CreditAmount112 FROM #K_CtTmpTH WHERE _Status IN (1,2) GROUP BY BranchCode
		) AS ct ON ct.BranchCode=a.BranchCode
		WHERE a._Status=8

	UPDATE #K_CtTmpTH SET DebitBalance113=ISNULL(ct.DebitAmount113,0), CreditBalance113=ISNULL(ct.CreditAmount113,0)
		FROM #K_CtTmpTH a LEFT OUTER JOIN (
		SELECT BranchCode, SUM(DebitAmount113) AS DebitAmount113, SUM(CreditAmount113) AS CreditAmount113 FROM #K_CtTmpTH WHERE _Status IN (1,2) GROUP BY BranchCode
		) AS ct ON ct.BranchCode=a.BranchCode
		WHERE a._Status=8

	-------

	--UPDATE #K_CtTmpTH SET DebitAmount=DebitBalance, CreditAmount=CreditBalance
	--FROM #K_CtTmpTH WHERE _Status=8

	UPDATE #K_CtTmpTH SET DebitAmount=IIF(DebitBalance > CreditBalance,DebitBalance-CreditBalance,0), 
	                      CreditAmount=IIF(CreditBalance > DebitBalance,CreditBalance - DebitBalance,0),
						  DebitAmount111=IIF(DebitBalance111 > CreditBalance111,DebitBalance111-CreditBalance111,0),
						  CreditAmount111=IIF(CreditBalance111 > DebitBalance111,CreditBalance111 - DebitBalance111,0),
						  DebitAmount112=IIF(DebitBalance112 > CreditBalance112,DebitBalance112-CreditBalance112,0),
						  CreditAmount112=IIF(CreditBalance112 > DebitBalance112,CreditBalance112 - DebitBalance112,0),
						  DebitAmount113=IIF(DebitBalance113 > CreditBalance113,DebitBalance113-CreditBalance113,0),
						  CreditAmount113=IIF(CreditBalance113 > DebitBalance113,CreditBalance113 - DebitBalance113,0)
	FROM #K_CtTmpTH WHERE _Status IN (8)

	
	UPDATE #K_CtTmpTH SET DebitBalance111=(SELECT SUM(DebitAmount111) FROM #K_CtTmpTH WHERE _Status=8),
	                      CreditBalance111=(SELECT SUM(CreditAmount111) FROM #K_CtTmpTH WHERE _Status=8)
	FROM #K_CtTmpTH a
	WHERE _Status=9

	UPDATE #K_CtTmpTH SET DebitBalance112=(SELECT SUM(DebitAmount112) FROM #K_CtTmpTH WHERE _Status=8),
	                      CreditBalance112=(SELECT SUM(CreditAmount112) FROM #K_CtTmpTH WHERE _Status=8)
	FROM #K_CtTmpTH a
	WHERE _Status=9

	UPDATE #K_CtTmpTH SET DebitBalance113=(SELECT SUM(DebitAmount113) FROM #K_CtTmpTH WHERE _Status=8),
	                      CreditBalance113=(SELECT SUM(CreditAmount113) FROM #K_CtTmpTH WHERE _Status=8)
	FROM #K_CtTmpTH a
	WHERE _Status=9


	UPDATE #K_CtTmpTH SET DebitAmount=IIF(DebitBalance > CreditBalance,DebitBalance-CreditBalance,0), 
	                      CreditAmount=IIF(CreditBalance > DebitBalance,CreditBalance - DebitBalance,0),
						  DebitAmount111=IIF(DebitBalance111 > CreditBalance111,DebitBalance111-CreditBalance111,0),
						  CreditAmount111=IIF(CreditBalance111 > DebitBalance111,CreditBalance111 - DebitBalance111,0),
						  DebitAmount112=IIF(DebitBalance112 > CreditBalance112,DebitBalance112-CreditBalance112,0),
						  CreditAmount112=IIF(CreditBalance112 > DebitBalance112,CreditBalance112 - DebitBalance112,0),
						  DebitAmount113=IIF(DebitBalance113 > CreditBalance113,DebitBalance113-CreditBalance113,0),
						  CreditAmount113=IIF(CreditBalance113 > DebitBalance113,CreditBalance113 - DebitBalance113,0)

	FROM #K_CtTmpTH WHERE _Status IN (9)

    -----------
	
	-- Lấy ra danh sách tài khoản từ số dư và phát sinh
	SELECT DISTINCT AccountCal, BranchCode
	INTO #DsAccountTemp
	FROM #K_CtTmp
	UNION ALL
	SELECT AccountCal , BranchCode
	FROM #SoDuDau 
	WHERE AccountCal NOT IN (SELECT AccountCal FROM #K_CtTmp) AND BranchCode NOT IN (SELECT BranchCode FROM #K_CtTmp)

	DECLARE @_Account_Scan AS VARCHAR(24), @_BranchCode_Scan NVARCHAR(64)
	WHILE EXISTS(SELECT * FROM #DsAccountTemp)
	BEGIN
		SELECT TOP 1 @_Account_Scan = AccountCal , @_BranchCode_Scan=BranchCode
		FROM #DsAccountTemp
		
		SELECT @_DebitBal1 = SUM(DebitBal1),
			@_CreditBal1 = SUM(CreditBal1),
			@_OriginalDebitBal1 = SUM(OriginalDebitBal1),
			@_OriginalCreditBal1 = SUM(OriginalCreditBal1)
		FROM #SoDuDau
		WHERE AccountCal = @_Account_Scan AND BranchCode=@_BranchCode_Scan
	
		SELECT @_Temp_Value = 0, @_Temp_Value_Nt = 0, @_DebitBal1 = ISNULL(@_DebitBal1, 0), @_CreditBal1 = ISNULL(@_CreditBal1, 0),
			@_OriginalDebitBal1 = ISNULL(@_OriginalDebitBal1, 0), @_OriginalCreditBal1 = ISNULL(@_OriginalCreditBal1, 0),
			@_DebitAmount = 0, @_CreditAmount = 0, @_OriginalDebitAmount = 0, @_OriginalCreditAmount = 0,
			@_DebitBalance2 = 0, @_CreditBalance2 = 0, @_OriginalDebitBalance2 = 0, @_OriginalCreditBalance2 = 0
				
		-- Nếu Tk theo dõi SP hoặc đối tượng thì chỉ tính số dư cuối cùng và có thể dư 2 bên
		IF EXISTS (SELECT * FROM dbo.B20ChartOfAccount WHERE Code = @_Account_Scan AND (ProductAccount = 1 OR CustomerAccount = 1))
		BEGIN	
			SELECT @_DebitAmount = SUM(DebitAmount), @_CreditAmount = SUM(CreditAmount),
				@_OriginalDebitAmount = SUM(OriginalDebitAmount), @_OriginalCreditAmount = SUM(OriginalCreditAmount)
			FROM #K_CtTmp		
			WHERE AccountCal = @_Account_Scan AND BranchCode=@_BranchCode_Scan

			;WITH cteDetail (AccountCal, CustomerId, ProductId, DebitBal1, CreditBal1, OriginalDebitBal1, OriginalCreditBal1, BranchCode) AS
			(
				SELECT AccountCal, CustomerId, ProductId, DebitBal1, CreditBal1, OriginalDebitBal1, OriginalCreditBal1, BranchCode
				FROM #SoDuDau
				WHERE AccountCal = @_Account_Scan AND BranchCode=@_BranchCode_Scan
				UNION ALL
				SELECT AccountCal, CustomerId, ProductId, DebitAmount, CreditAmount, OriginalDebitAmount, OriginalCreditAmount, BranchCode
				FROM #K_CtTmp
				WHERE AccountCal = @_Account_Scan AND BranchCode=@_BranchCode_Scan
			), cteSum (AccountCal, CustomerId, ProductId, DebitBal1, CreditBal1, OriginalDebitBal1, OriginalCreditBal1, RouteCode) AS
			(
				SELECT cteDetail.AccountCal, cteDetail.CustomerId, cteDetail.ProductId,
					SUM(cteDetail.DebitBal1) AS DebitBal1, SUM(cteDetail.CreditBal1) AS CreditBal1, SUM(cteDetail.OriginalDebitBal1) AS OriginalDebitBal1, SUM(cteDetail.OriginalCreditBal1) AS OriginalCreditBal1, cteDetail.BranchCode
				FROM cteDetail
				GROUP BY cteDetail.AccountCal, cteDetail.CustomerId, cteDetail.ProductId, cteDetail.BranchCode
			), cteResult (AccountCal, CustomerId, ProductId, DebitBal2, CreditBal2, OriginalDebitBal2, OriginalCreditBal2, BranchCode) AS
			(
				SELECT cteSum.AccountCal, cteSum.CustomerId, cteSum.ProductId,
					IIF(cteSum.DebitBal1 > cteSum.CreditBal1, cteSum.DebitBal1 - cteSum.CreditBal1, 0) AS DebitBal2,
					IIF(cteSum.CreditBal1 > cteSum.DebitBal1, cteSum.CreditBal1 - cteSum.DebitBal1, 0) AS CreditBal2,
					IIF(cteSum.OriginalDebitBal1 > cteSum.OriginalCreditBal1, cteSum.OriginalDebitBal1 - cteSum.OriginalCreditBal1, 0) AS OriginalDebitBal2,
					IIF(cteSum.OriginalCreditBal1 > cteSum.OriginalDebitBal1, cteSum.OriginalCreditBal1 - cteSum.OriginalDebitBal1, 0) AS OriginalCreditBal2, cteSum.BranchCode
				FROM cteSum
			)
			SELECT @_DebitBalance2 = SUM(cteResult.DebitBal2), @_CreditBalance2 = SUM(cteResult.CreditBal2),
				@_OriginalDebitBalance2 = SUM(cteResult.OriginalDebitBal2), @_OriginalCreditBalance2 = SUM(cteResult.OriginalCreditBal2)
			FROM cteResult
		END
		ELSE
		BEGIN
			IF @_DebitBal1 > @_CreditBal1 
				SET @_DebitBalance2 = @_DebitBal1 - @_CreditBal1
			ELSE
				SET @_CreditBalance2 = @_CreditBal1 - @_DebitBal1
				
			IF @_OriginalDebitBal1 > @_OriginalCreditBal1
				SET @_OriginalDebitBalance2 = @_OriginalDebitBal1 - @_OriginalCreditBal1
			ELSE
				SET @_OriginalCreditBalance2 = @_OriginalCreditBal1 - @_OriginalDebitBal1

			UPDATE #K_CtTmp
				SET @_DebitAmount = @_DebitAmount + DebitAmount, @_CreditAmount = @_CreditAmount + CreditAmount,
					@_OriginalDebitAmount = @_OriginalDebitAmount + OriginalDebitAmount, @_OriginalCreditAmount = @_OriginalCreditAmount + OriginalCreditAmount,
					@_Temp_Value = (@_DebitBalance2 - @_CreditBalance2) + (DebitAmount - CreditAmount),
					@_DebitBalance2 = DebitBalance = IIF(@_Temp_Value > 0, @_Temp_Value, 0),
					@_CreditBalance2 = CreditBalance = IIF(@_Temp_Value <= 0, ABS(@_Temp_Value), 0),
					@_Temp_Value_Nt = (@_OriginalDebitBalance2 - @_OriginalCreditBalance2) + (OriginalDebitAmount - OriginalCreditAmount),
					@_OriginalDebitBalance2 = OriginalDebitBalance = IIF(@_Temp_Value_Nt > 0, @_Temp_Value_Nt, 0),
					@_OriginalCreditBalance2 = OriginalCreditBalance = IIF(@_Temp_Value_Nt <= 0, ABS(@_Temp_Value_Nt), 0)
				FROM #K_CtTmp
				WHERE AccountCal = @_Account_Scan AND BranchCode=@_BranchCode_Scan
		END

		INSERT #K_CtTmp (Id, Account, DocDate, Description, DebitBalance, CreditBalance, OriginalDebitBalance, OriginalCreditBalance, _Status, _FormatStyleKey, AccountCal, BranchCode) VALUES
				(NULL, @_Account_Scan, NULL, dbo.ufn_sys_MessageText(N'DuDauKy', @_LangId),
					ISNULL(@_DebitBal1, 0), ISNULL(@_CreditBal1, 0), ISNULL(@_OriginalDebitBal1, 0), ISNULL(@_OriginalCreditBal1, 0), N'0', 'BOLD', @_Account_Scan, @_BranchCode_Scan)

		INSERT #K_CtTmp (Id, Account, DocDate, Description, DebitAmount, CreditAmount, OriginalDebitAmount, OriginalCreditAmount, _Status, _FormatStyleKey, AccountCal, BranchCode) VALUES
				(NULL, @_Account_Scan, NULL, dbo.ufn_sys_MessageText(N'TongPhatSinh', @_LangId),
					ISNULL(@_DebitAmount, 0), ISNULL(@_CreditAmount, 0), ISNULL(@_OriginalDebitAmount, 0), ISNULL(@_OriginalCreditAmount, 0), N'8', 'BOLD', @_Account_Scan, @_BranchCode_Scan)

		INSERT #K_CtTmp (Id, Account, DocDate, Description, DebitBalance, CreditBalance, OriginalDebitBalance, OriginalCreditBalance, _Status, _FormatStyleKey, AccountCal, BranchCode) VALUES
				(NULL, @_Account_Scan, NULL, dbo.ufn_sys_MessageText(N'DuCuoiKy', @_LangId),
					ISNULL(@_DebitBalance2, 0), ISNULL(@_CreditBalance2, 0), ISNULL(@_OriginalDebitBalance2, 0), ISNULL(@_OriginalCreditBalance2, 0), N'9', 'BOLD', @_Account_Scan, @_BranchCode_Scan)

		DELETE FROM #DsAccountTemp WHERE AccountCal = @_Account_Scan AND BranchCode=@_BranchCode_Scan
	END

	UPDATE #K_CtTmp
	SET GroupCode = bc.AccountCal
	   --+ ' - ' +bc.RouteCode,
	   ,GroupName = RTRIM(bc.AccountCal) + N': '
					+ ISNULL(
								dbo.ufn_sys_BH(
												  ISNULL(dm.Name, '')
												 ,ISNULL(dm.Name_English, '')
												 ,''
												 ,ISNULL(dm.Name_Japanese, '')
												 ,ISNULL(dm.Name_Chinese, '')
												 ,ISNULL(dm.Name_Korean, '')
												 ,@_LangId
											  )
							   ,''
							) 
							--+ ' - ' + route.Name
	FROM #K_CtTmp AS bc
		 LEFT OUTER JOIN dbo.B20ChartOfAccount AS dm ON bc.AccountCal = dm.Code
		--LEFT OUTER JOIN dbo.B20DmsRoute route ON route.Code=bc.RouteCode

	UPDATE #K_CtTmp
	SET DocBookingNo = db.Code, DocBookingDate = db.DocBookingDate
	FROM #K_CtTmp k 
		LEFT OUTER JOIN dbo.B20DocBooking db ON k.DocBookingId = db.Id
	WHERE ISNULL(k.DocBookingId, 0) <> 0

	SELECT * FROM #K_CtTmp ORDER BY AccountCal,_Status,_Rank

	

	SELECT *
	FROM #K_CtTmpTH
	ORDER BY AccountCal,_StatusTH,_Status,DocDate,_Rank


	DROP TABLE IF EXISTS #K_CtTmp0
                    ,#DsAccountTemp
                    ,#DsAccountTempTH
                    ,#K_CtTmp
                    ,#K_CtTmpTH
                    ,#SoDuDau
	
END 
go

set dateformat dmy
exec 

usp_Kct_SubsidiaryLedger_DTTC_ID @_DocDate1='01/06/2026 00:00:00.000',@_DocDate2='30/06/2026 00:00:00.000',@_Account='111,112,113',@_AccountLevel=1,@_ForeignCurrencyOnly=0,@_nUserId=1213,@_LangId=0,@_CurrencyCode0='VND',@_BranchCode='I30'