USE [B10THACOIDACC]
GO
/****** Object:  StoredProcedure [dbo].[usp_ConvertDataThaco_FromB7_Asset]    Script Date: 02-03-2026 14:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE usp_ConvertDataThaco_FromB7_Asset
    @_BranchCode       VARCHAR(3) = NULL
   ,@_AutoRun          TINYINT    = 0
   ,@_DocDate1         DATE       = '2025-01-01'
   ,@_DocDate2         DATE       = '2025-01-31'
   ,@_DataCode_Source  VARCHAR(8) = ''
   ,@_DataCode_Target  VARCHAR(8) = ''
   ,@_DeleteBefConvert TINYINT    = 0
   ,@_PrintCmd         TINYINT    = 1
   ,@_BranchCodeOld    VARCHAR(3) = NULL
   ,@_nUserId AS       INT        = 1213
AS
BEGIN
    SET NOCOUNT ON;

    --IF @_BranchCode IN ('I25')
    --BEGIN
    --    PRINT N'Đã chạy xong! Không chạy lại!'
    --    RETURN
    --END
    --SET @_nUserId = dbo.ufn_sys_GetValueFromAppName('UserId', @_nUserId)


    IF @_nUserId NOT IN (1213, 271)
    BEGIN
        --19-12-2025 ngung ko cho don v? t? ch?y, ?nh hu?ng t?i d? li?u dã d? lên B10	

        RETURN
    END

    IF @_BranchCode IS NULL AND @_BranchCodeOld IS NULL RETURN

    IF @_DeleteBefConvert = 1
    BEGIN
        PRINT N' @_DeleteBefConvert = 1 s? xoá d? li?u các b?ng convert tru?c khi ch?y theo di?u ki?n l?c, b?n ch?c ch?n thì vào rào l?i do?n này nhé!'
        RETURN
    END

    DROP TABLE IF EXISTS #TableConvertList
    SELECT IDENTITY(INT, 1, 1) AS Id
          ,*
    INTO #TableConvertList
    FROM dbo._TableConvertB10
    WHERE Table_B10 IN (SELECT value FROM STRING_SPLIT('Asset,AssetDoc', ','))

    DECLARE @_Id                    INT
           ,@_Nl                    CHAR(1)       = CHAR(13)
           ,@_Table_B70             sysname       = ''
           ,@_Table_B10             sysname       = ''
           ,@_FilterKey             NVARCHAR(MAX) = N''
           ,@_StrExec               NVARCHAR(MAX) = N''
           ,@_ColumnList_Select     NVARCHAR(MAX) = N''
           ,@_UpdateExpression      NVARCHAR(MAX) = N''
           ,@_ColumnList_Insert_Add NVARCHAR(MAX) = N''
           ,@_ColumnList_Select_Add NVARCHAR(MAX) = N''
           ,@_ColumnList_Insert     NVARCHAR(MAX) = N''
           ,@_UniqueCol             NVARCHAR(MAX) = N''

    IF ISNULL(@_BranchCode, '') = '' RETURN

    IF @_BranchCode IS NOT NULL
    BEGIN
        SELECT @_DataCode_Target = DataCode
              ,@_BranchCodeOld = BranchCodeOld
              ,@_BranchCode = BranchCode
        FROM dbo.B00Branch
        WHERE @_BranchCode = BranchCode
    END

    IF ISNULL(@_BranchCodeOld, '') = ''
    BEGIN
        RETURN
    END

    IF @_BranchCodeOld IS NOT NULL
    BEGIN
        SELECT @_DataCode_Source = DataCode
        FROM TO101_B7ACC.B7_THACO.dbo.B00DmDvcs
        WHERE Ma_Dvcs = @_BranchCodeOld
    END


    WHILE EXISTS (SELECT * FROM #TableConvertList)
    BEGIN
        SELECT TOP (1)
               @_Id = Id
              ,@_Table_B70 = Table_B70
              ,@_Table_B10 = Table_B10
              ,@_FilterKey = FilterKey
              ,@_StrExec = N''
              ,@_UpdateExpression = UpdateExpression
              ,@_UniqueCol = UniqueCol
        FROM #TableConvertList
        ORDER BY Table_B70

        SELECT @_Table_B70 = IIF(@_Table_B70 = 'Asset', 'B20', 'B3' + @_DataCode_Source) + @_Table_B70
              ,@_Table_B10 = IIF(@_Table_B10 = 'Asset', 'B2', 'B3') + @_DataCode_Target + @_Table_B10
              ,@_FilterKey = REPLACE(@_FilterKey, '{=DataCode_Source}', @_DataCode_Source)

        IF @_Table_B70 LIKE '%AssetDoc' SET @_Table_B70 = 'B30AssetDoc'

        DELETE #TableConvertList WHERE Id = @_Id


        SELECT @_ColumnList_Select
            = STRING_AGG(
                            IIF(
                                cl.is_nullable = 0
                                AND cl.default_object_id = 0
                               ,'ISNULL(' + 'tb.' + cl.name + ','
                                + IIF(
                                  TYPE_NAME(cl.system_type_id) LIKE '%char%' OR TYPE_NAME(cl.system_type_id) LIKE '%date%'
                                      ,''''''
                                      ,'0') + ')'
                               ,'tb.' + cl.name)
                           ,','
                        )
              ,@_ColumnList_Insert = STRING_AGG(cl.name, ',')
        FROM B10THACOIDACC_Data.sys.columns cl WITH (NOLOCK)
             INNER JOIN B10THACOIDACC_Data.sys.tables tb WITH (NOLOCK) ON cl.object_id = tb.object_id
        WHERE tb.name = @_Table_B10
              AND cl.is_computed = 0
              AND
              (
                  cl.name NOT IN ('Id', 'timestamp')
                  OR
                  ((@_Table_B70 = 'B20Asset' OR @_Table_B70 = 'B30AssetDoc')
                   AND cl.name <> 'timestamp'
                  )
              )
              AND cl.name IN
                  (
                      SELECT COLUMN_NAME
                      FROM TO101_B7ACC.B7_THACO.INFORMATION_SCHEMA.COLUMNS WITH (NOLOCK)
                      WHERE TABLE_NAME = @_Table_B70
                  )

        SELECT @_ColumnList_Insert_Add = ISNULL(STRING_AGG(cl.name, ','), '')
              ,@_ColumnList_Select_Add
                   = ISNULL(
                               STRING_AGG(
                                             IIF(
                                             TYPE_NAME(cl.system_type_id) LIKE '%char%' OR TYPE_NAME(cl.system_type_id) LIKE '%date%'
                                                 ,''''''
                                                 ,'0')
                                            ,','
                                         )
                              ,''
                           )
        FROM B10THACOIDACC_Data.sys.columns cl WITH (NOLOCK)
             INNER JOIN B10THACOIDACC_Data.sys.tables tb WITH (NOLOCK) ON cl.object_id = tb.object_id
             LEFT JOIN B10THACOIDACC_Data.sys.default_constraints df ON cl.default_object_id = df.object_id
        WHERE tb.name = @_Table_B10
              AND cl.is_computed = 0
              AND cl.is_nullable = 0
              AND cl.default_object_id = 0
              AND cl.name NOT IN ('Id', 'timestamp')
              AND cl.name NOT IN (SELECT value FROM STRING_SPLIT(@_ColumnList_Insert, ','))

        IF ISNULL(@_ColumnList_Insert_Add, '') <> ''
            SET @_ColumnList_Insert = @_ColumnList_Insert + @_ColumnList_Insert_Add

        IF ISNULL(@_ColumnList_Select_Add, '') <> ''
            SET @_ColumnList_Select = @_ColumnList_Select + @_ColumnList_Select_Add

        IF RIGHT(@_Table_B10, 5) = 'Asset'
        BEGIN

            SELECT @_StrExec = N'  DELETE ' + @_Table_B10 + N' WHERE Type NOT IN (8,9) 		'
            SELECT @_StrExec
                = @_StrExec + N'  DELETE ' + @_Table_B10 + N' WHERE Type NOT IN (8,9) 	 OR CODE  IN ( SELECT CODE  '
                  + N'FROM [TO101_B7ACC].B7_THACO.dbo.B20Asset tb WITH (NOLOCK) WHERE BranchCode = '''
                  + @_BranchCodeOld + N''' ) '

            IF @_AutoRun = 1
            BEGIN
                EXEC (@_StrExec)

            END
        END

        IF RIGHT(@_Table_B10, 8) = 'AssetDoc'
        BEGIN

            SELECT @_StrExec = N'  DELETE ' + @_Table_B10 + N'  		'

            SELECT @_StrExec = @_StrExec + N' 
			SET  IDENTITY_INSERT  B10THACOIDACC_Data.dbo.' + @_Table_B10 + N' ON;'

            IF @_AutoRun = 1
            BEGIN
                EXEC (@_StrExec)

            END

        END

        SET @_StrExec
            = @_StrExec + CHAR(13) + N'INSERT INTO ' + @_Table_B10 + N' (' + @_ColumnList_Insert + N')' + CHAR(13)
              + N'SELECT ' + REPLACE(@_ColumnList_Select, 'tb.IncrNo', 'ISNULL(tb.IncrNo,'''')') + CHAR(13)
              + N'FROM [TO101_B7ACC].B7_THACO.dbo.' + @_Table_B70 + N' tb WITH (NOLOCK)' + CHAR(13)
              + IIF(@_Table_B70 LIKE '%Asset%'
                   ,N'WHERE BranchCode = @_BranchCodeOld'
                    + IIF(ISNULL(@_FilterKey, '') <> '', ' AND ' + @_FilterKey, '') -- Asset
                   ,IIF(@_Table_B70 LIKE '%Open%'
                       ,IIF(ISNULL(@_FilterKey, '') <> '', 'WHERE ' + @_FilterKey, '') -- Open
                       ,N'WHERE DocDate BETWEEN @_DocDate1 AND @_DocDate2'
                        + IIF(ISNULL(@_FilterKey, '') <> '', ' AND ' + @_FilterKey, '')
                        + IIF(@_UniqueCol <> ''
                              ,' AND ' + @_UniqueCol + ' NOT IN (SELECT ' + @_UniqueCol + ' FROM ' + @_Table_B10 + ')'
                              ,''))) -- Phi?u k? toán
              + CASE
                    WHEN RIGHT(@_Table_B10, 5) = 'Asset' THEN
                        ' AND CODE NOT IN (SELECT CODE FROM ' + @_Table_B10 + ' ) '
                    ELSE
                        '' END

        IF CHARINDEX(',BranchCode,', ',' + @_ColumnList_Insert + ',') > 0
            SET @_StrExec
                = @_StrExec + CHAR(13) + N' UPDATE dbo.' + @_Table_B10
                  + N' SET BranchCode = @_BranchCode WHERE BranchCode <> @_BranchCode'

        IF @_PrintCmd = 1
        BEGIN
            PRINT @_StrExec
        END

        IF @_AutoRun = 1
        BEGIN

            EXECUTE sys.sp_executesql @_StrExec
                                     ,N'@_DocDate1 DATE, @_DocDate2 DATE, @_BranchCode VARCHAR(3), @_BranchCodeOld VARCHAR(3)'
                                     ,@_DocDate1 = @_DocDate1
                                     ,@_DocDate2 = @_DocDate2
                                     ,@_BranchCode = @_BranchCode
                                     ,@_BranchCodeOld = @_BranchCodeOld

            IF RIGHT(@_Table_B10, 8) = 'AssetDoc'
            BEGIN
                SELECT @_StrExec = N' 
			SET IDENTITY_INSERT  B10THACOIDACC_Data.dbo.' + @_Table_B10 + N' OFF;'
                IF @_AutoRun = 1
                BEGIN
                    EXEC (@_StrExec)
                END
            END

        END

        PRINT '-----------------------------------------------------------'

    END


    DROP TABLE IF EXISTS #TableConvertList

    DROP TABLE IF EXISTS #_Table_Column
    SELECT TABLE_NAME
          ,COLUMN_NAME
          ,CAST(0 AS TINYINT) AS IsPlayed
    INTO #_Table_Column
    FROM B10THACOIDACC_Data.INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME IN
          (
              SELECT IIF(Table_B10 = 'Asset', 'B2', 'B3') + @_DataCode_Target + Table_B10
              FROM dbo._TableConvertB10
              WHERE Table_B70 IN ('Asset', 'AssetDoc')
          )
          AND COLUMN_NAME LIKE '%Account%'
          AND COLUMN_NAME NOT LIKE 'BankAccountNo%'
          AND COLUMN_NAME NOT LIKE 'ChargesAccountNumber%'
          AND COLUMN_NAME NOT IN ('OutsideAccount')


    DECLARE @_TABLE_NAME  sysname
           ,@_COLUMN_NAME sysname

    BEGIN
        --30122025 TINNT thêm do?n nì d? quét các tk liên quan d?n b?ng asset,assetdoc

        DROP TABLE IF EXISTS #_Asset_Account_List
        CREATE TABLE #_Asset_Account_List (AssetAccount VARCHAR(24))
        SET @_StrExec = N''
        SELECT @_StrExec
            = @_StrExec + N' INSERT INTO #_Asset_Account_List(AssetAccount) SELECT DISTINCT ' + COLUMN_NAME + N' FROM '
              + TABLE_NAME + N' WHERE ' + COLUMN_NAME
              + N' NOT IN ( SELECT AssetAccount FROM #_Asset_Account_List ) AND ' + COLUMN_NAME + N'<> '''' ' + @_Nl
        FROM #_Table_Column

        EXECUTE (@_StrExec)
        PRINT @_StrExec
    END

    DROP TABLE IF EXISTS #_Mapping_Account
    SELECT CodeOld AS Account_B7
          ,IIF(ISNULL(CodeMapToB10, '') <> '', CodeMapToB10, CodeOld) AS Account_B10
          ,CAST(0 AS TINYINT) AS IsPlayed
    INTO #_Mapping_Account
    FROM dbo.B20ChartOfAccountMapping
    WHERE CodeOld <> CodeMapToB10
          AND CodeOld IN (SELECT AssetAccount FROM #_Asset_Account_List)
    GROUP BY CodeOld
            ,CodeMapToB10

    INSERT INTO #_Mapping_Account (Account_B7, Account_B10, IsPlayed)
    SELECT FromCode AS Account_B7
          ,ToCode AS Account_B10
          ,0 AS IsPlayed
    FROM vB20Converter_ChartOfAccount
    WHERE FromCode IN (SELECT AssetAccount FROM #_Asset_Account_List)
          AND FromCode NOT IN (SELECT Account_B7 FROM #_Mapping_Account)

    DECLARE @_Table_Exec_Mapping TABLE (Str_Exec VARCHAR(MAX), Id INT IDENTITY, Check_ TINYINT DEFAULT 0)

    DELETE #_Mapping_Account WHERE Account_B7 = Account_B10

    --ch?y chuy?n d?i tk theo b? mapping
    WHILE EXISTS (SELECT * FROM #_Table_Column WHERE IsPlayed = 0)
    BEGIN
        SELECT TOP (1)
               @_TABLE_NAME = TABLE_NAME
              ,@_COLUMN_NAME = COLUMN_NAME
              ,@_StrExec = N''
        FROM #_Table_Column
        WHERE IsPlayed = 0

        UPDATE #_Table_Column
        SET IsPlayed = 1
        WHERE TABLE_NAME = @_TABLE_NAME
              AND COLUMN_NAME = @_COLUMN_NAME

        SELECT @_StrExec = N''
        SELECT @_StrExec
            = @_StrExec + N'UPDATE dbo.' + QUOTENAME(@_TABLE_NAME) + N' SET ' + QUOTENAME(@_COLUMN_NAME) + N' = '''
              + Account_B10 + N''' WHERE ' + QUOTENAME(@_COLUMN_NAME) + N' = ''' + Account_B7 + N''';' + CHAR(13)
        FROM #_Mapping_Account

        INSERT INTO @_Table_Exec_Mapping (Str_Exec) 
        SELECT @_StrExec

    END

    DECLARE @_Ind INT

    WHILE EXISTS (SELECT * FROM @_Table_Exec_Mapping WHERE Check_ = 0)
    BEGIN


        SELECT @_StrExec = N''
        SELECT TOP 1
               @_StrExec = Str_Exec
              ,@_Ind = Id
        FROM @_Table_Exec_Mapping
        WHERE Check_ = 0

        UPDATE @_Table_Exec_Mapping SET Check_ = 1 WHERE Id = @_Ind

        EXECUTE sys.sp_executesql @_StrExec

        PRINT @_StrExec


    END

    IF RIGHT(@_Table_B10, 8) = 'AssetDoc'
    BEGIN

        SELECT @_StrExec
            = N'	UPDATE ' + @_Table_B10 + N' SET EquityId =  ENQ.Id FROM ' + @_Table_B10
              + N' ASDCO INNER JOIN dbo.B20Equity ENQ ON ASDCO.EquityCode = ENQ.Code ;
									  														  					
					UPDATE ' + @_Table_B10 + N' SET AssetId = assetdoc.Id FROM ' + @_Table_B10
              + N' asset INNER JOIN B2' + @_DataCode_Target
              + N'Asset assetdoc ON asset.AssetCode = assetdoc.Code;
									  	'
        PRINT @_StrExec

        EXECUTE sys.sp_executesql @_StrExec
    END


    -----------------------------------------------------------
    --ch?y chuy?n d?i code -> to id
    EXEC B10THACOIDACC_Data.dbo.usp_Trunght_Convert_CodeToId @_BranchCode = @_BranchCode

    --ch?y chuy?n d?i b? mã theo quy t?c m?i
    EXEC usp_Asset_Adjust_MappingAsset_B7_B10 @_BranchCode = @_BranchCode

    --ch?y chuy?n d?i MAPPING ccdc theo khai báo 242
    EXEC usp_Asset_Adjust_AccountMapping_B10 @_BranchCode = @_BranchCode

    --ch?y chuy?n d?i l?y s? tháng phân b? B7 ccdc to B10
    EXEC usp_Trunght_Script_CCDC @_BranchCode = @_BranchCode

    --22-01-2026 chay ma TS khau hao theo cong suat
    EXEC usp_Trunght_Script_TS_CONGSUAT @_BranchCode = @_BranchCode

    --21-01-2026 chay lai nguon von cho cong cu. Cau tru b10 EquityId = -1 moi chay duoc phan bo
    EXEC usp_up_EquityId_ccdc @_BranchCode = @_BranchCode
END
